<!-start->
<h1>{#catname#}</h1>


<!-start->
<!-list-> 
			<div class="clearfix content_space">
				<div class="col-md-3 col-xs-12">
					<div class="row"><a href="{#link#}" target="{#target#}"><img src="{#src#}"  class="img-responsive img_border" alt="" /></a></div>
				</div>
				<div class="col-md-9 col-xs-12">
					<div class="right_content">
						<div class="title border_bottom"><a href="{#link#}" target="{#target#}" {#bold#} {#red#} >{#title#}</a></div>
						<p>{#memo#}</p>
					</div>
				</div>
			</div>
<!-list->
<!-end->


<div id="showpages">
	  <!--div id="pagesinfo">共{#totalnums#}則 每頁{#pagesshownum#}則 頁次：{#pagesnow#}/{#pagestotal#}</div-->
	  <div id="pages">{#showpages#}</div>
</div>

<!-end->