<!-start->
<h1>{#catname#}</h1>


<!-start->
<!-list-> 
         <div class="testimonial_tweets" style="margin-bottom:20px;">
		<p class="border_bottom">
			<span class="bold"><a href="{#link#}" target="{#target#}" {#bold#} {#red#} ><i class="fa {#prop1#}"></i> {#title#} ({#dtime#})</a></span>        </p>
            <p>	<span class="quotes">&quot;</span>{#memo#}<span class="quotes">&quot;</span></p>
         </div>
<!-list->
<!-end->


<div id="showpages">
	  <!--div id="pagesinfo">共{#totalnums#}則 每頁{#pagesshownum#}則 頁次：{#pagesnow#}/{#pagestotal#}</div-->
	  <div id="pages">{#showpages#}</div>
</div>

<!-end->