<!-start->
				<div class="owl-carousel owl-theme">
<!-start->

<!-m0->
					<div class="hero-carousel-bn"><a class="button secondary url font-s" href="#{#n#}">{#title#}</a></div>   <!--輪播按鈕的名稱是輪播內容的標題-->
<!-m0->

<!-list->
				<a href="{#url#}">
					<div class="item" data-hashs="{#n#}">
						<div class="hero-carousel-word-con">
							<div class="title font-xxl font-m-l font-w-m">{#title#}</div><!--文字部分做選項，font-xs~xxxxxl(文字大小的部分)，font-w-s~xl(文字粗細)-->
							<div class="word font-s font-w-s font-index">{#memo#}</div>
						</div>
						<div class="hero-carousel-pic ratios-img"><img src="{#src#}" alt=""></div>
					</div>
				</a>
<!-list->

<!-text->
				<a href="{#url#}">
					<div class="item" data-hashs="{#n#}">
						<div class="hero-carousel-word-con">
							<div class="title font-xxl font-m-l font-w-m">{#title#}</div><!--文字部分做選項，font-xs~xxxxxl(文字大小的部分)，font-w-s~xl(文字粗細)-->
							<div class="word font-s font-w-s font-index">{#memo#}</div>
						</div>
						<div class="hero-carousel-pic ratios-img"><img src="{#src#}" alt=""></div>
					</div>
				</a>
<!-text->

<!-menu->
				<a href="{#url#}">
					<div class="item" data-hashs="{#n#}">
						<div class="hero-carousel-word-con">
							<div class="title font-xxl font-m-l font-w-m">{#title#}</div><!--文字部分做選項，font-xs~xxxxxl(文字大小的部分)，font-w-s~xl(文字粗細)-->
							<div class="word font-s font-w-s font-index">{#memo#}</div>
						</div>
						<div class="hero-carousel-pic ratios-img"><img src="{#src#}" alt=""></div>
					</div>
				</a>
<!-menu->

<!-m1->
			<a href="javascript:;" class="item {#active#}" id="slide{#n#}" style="width: 100%;height: 100vh;"><iframe id="video-iframe" allow="autoplay; encrypted-media" src="{#url#}" frameborder="0" allowfullscreen="" style="float: left;width: 100%;height: 100%;transform: scale(1.1);"></iframe></a>
<!-m1->
