<!-start->
<div class="swiper mySwiper">
	<div class="swiper-wrapper">
		{#slideList#}
	</div>
	<div class="arrow_l"><img src="{#TM#}20240425/images/arrow_l.png" /></div>
	<div class="arrow_r"><img src="{#TM#}20240425/images/arrow_r.png" /></div>
</div>
<!-start->

<!-m0->
<!-m0->

<!-list->
				<div class="swiper-slide" style="background-image: url('{#src#}');" data-color="{#header_color#}">
					<div class="text-box max-width position-{#position#}">
						<label>{#title#}</label>
						<p>{#memo#}</p>
					</div>
					<div class="index_series">
						<a href="{#type_link#}" class="l_white">＋{#type_name#}</a>
					</div>
				</div>
<!-list->

<!-text->
				
<!-text->

<!-menu->
				
<!-menu->

<!-m1->
			
<!-m1->
