<!-start->
			
<!-start->

<!-m0->
					
<!-m0->

<!-list->
				
					<div class="card">
						<a href="{#url#}">
							<div class="card-img ratios-img"><img src="{#src#}" alt=""></div>
							<div class="card-word">
								<div class="title font-xxl font-m-l font-w-m">{#title#}</div>
								<div class="word font-s font-w-s font-index">{#memo#}</div>
							</div>
						</a>
					</div>
<!-list->

<!-text->
				
					<div class="card">
						<a href="{#url#}">
							<div class="card-img ratios-img"><img src="{#src#}" alt=""></div>
							<div class="card-word">
								<div class="title font-xxl font-m-l font-w-m">{#title#}</div>
								<div class="word font-s font-w-s font-index">{#memo#}</div>
							</div>
						</a>
					</div>
				
<!-text->

<!-menu->
				
					<div class="card">
						<a href="{#url#}">
							<div class="card-img ratios-img"><img src="{#src#}" alt=""></div>
							<div class="card-word">
								<div class="title font-xxl font-m-l font-w-m">{#title#}</div>
								<div class="word font-s font-w-s font-index">{#memo#}</div>
							</div>
						</a>
					</div>
<!-menu->

<!-m1->
			
<!-m1->
