<!-start->
<!-start->



<!-list->
		            <li>
		                <img src="{#src#}" class="img-responsive" alt="">
		                 <h4 style="width:auto;">{#name#}</h4>
		                <p>{#subname#}</p>
		                <ul class="link">
		                    <li class="{#noboder#}"><a href="{#lanlink#}">{#linkstr#}</a></li>
		                	<li style="display:{#showsublan#};"><a href="{#sublanlink#}">{#sublinkstr#}</a></li>
		                </ul>
		            </li>
<!-list->

<!-menu->
<!-menu->

<!-end->
<script>
	$(document).ready(function() {
	    $("#lantype").html("{#lantypestr_mobi#}");
	});
	</script>

<!-end->