/* ============產品圖片列表============== */

div.productlist_2{
margin:0px 20px 5px 0px;
text-align:center;
float:left;
width:45%;
overflow:hidden;
}

div.productlist_2_left{
float:left;
text-align:left;
margin-right:15px;
}

div.productlist_2_right{
float:left;
text-align:left;
}


div.productlist_2 div.fang{
border:0;
background: #fff;
padding:3px;
text-align:center;
}

div.productlist_2 div.picFit{
overflow: hidden;
}



div.productlist_2 div.picFit img{
}


div.productlist_2 a.prodtitle:link,div.productlist_2 a.prodtitle:visited,div.productlist_2 a.prodtitle:active{
display:block;
color:#393939;
font:14px/20px 'Microsoft YaHei','mingliu',Arial,Sans-Serif;
text-decoration: none;
margin-bottom:5px;
}

div.productlist_2 a.prodtitle:hover{
display:block;
color:#ff0000;
text-decoration: underline;
font:14px/20px 'Microsoft YaHei','mingliu',Arial,Sans-Serif;
margin-bottom:5px;
}

div.productlist_2 span.memo{
font:12px/20px 'Microsoft YaHei','mingliu',Arial,Sans-Serif;
color:#393939;
word-break:break-all; 
}

div.productlist_2 span.prop{
font:12px/20px 'Microsoft YaHei','mingliu',Arial,Sans-Serif;
color:#393939;
overflow: hidden;
word-break:break-all; 
}

