				<div class="panel-group" id="accordion" role="tablist">
                    <!-- list -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
						          單車系列
						        </a>
							</h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body">
                                <ul class="side-menu">
                                    <li><a href="">上衣</a></li>
                                    <li><a href="">褲款</a></li>
                                    <li><a href="">外套</a></li>
                                    <li><a href="">袖腿套</a></li>
                                    <li><a href="">襪子</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- / list -->
                    <!-- list -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
						        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						          壓縮系列
						        </a>
							</h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">
                                <ul class="side-menu">
                                    <li><a href="">上衣</a></li>
                                    <li><a href="">褲款</a></li>
                                    <li><a href="">外套</a></li>
                                    <li><a href="">袖腿套</a></li>
                                    <li><a href="">襪子</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- / list -->
                    <!-- list -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
						        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						          慢跑系列
						        </a>
							</h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul class="side-menu">
                                    <li><a href="">上衣</a></li>
                                    <li><a href="">褲款</a></li>
                                    <li><a href="">外套</a></li>
                                    <li><a href="">袖腿套</a></li>
                                    <li><a href="">襪子</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- / list -->
                    <!-- list -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingfour">
                            <h4 class="panel-title">
						        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
						         特價商品
						        </a>
							</h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul class="side-menu">
                                    <li><a href="">上衣</a></li>
                                    <li><a href="">褲款</a></li>
                                    <li><a href="">外套</a></li>
                                    <li><a href="">袖腿套</a></li>
                                    <li><a href="">襪子</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- / list -->
                </div>