				<div class="panel-group" id="accordion" role="tablist">
                    <!-- list -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
					        <a href="account.htm">
					          我的帳戶
					        </a>
					      </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body">
                                <ul class="side-menu">
                                    <li><a href="account-personal-information.htm">個人資料</a></li>
                                    <li><a href="account-checking-order.htm">查詢訂單</a></li>
                                    <li><a href="account-return-request.htm">退貨申請</a></li>
                                    <li><a href="account-password.htm">變更密碼</a></li>
                                    <li><a href="account-contacts.htm">通訊錄</a></li>
                                    <li><a href="account-mail.htm">更新電子信箱</a></li>
                                    <li><a href="account-epaper.htm">訂閱電子報</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- / list -->
                </div>