<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{#pagetitle#}-{#sitename#}</title>
<meta content="{#metakey#}" name=keywords />
<meta content="{#metacon#}" name=description />
{#metaimage#}
{#addmeta#}
<meta http-equiv="windows-Target" content="_top" />
<meta name="MSSmartTagsPreventParsing" content="True" />
<meta http-equiv="MSThemeCompatible" content="Yes" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link href="{#RP#}base/templates/css/common.css" rel="stylesheet" type="text/css" />
<style type="text/css"><!--a img {border:0px;}--></style>
<script type="text/javascript" src="{#RP#}base/js/base132.js"></script>
<script type="text/javascript" src="{#RP#}base/js/common.js"></script>
<script type="text/javascript" src="{#RP#}base/js/form.js"></script>
<script type="text/javascript" src="{#RP#}base/js/blockui.js"></script>
<!--[if lte ie 6]>
<script type="text/javascript" src="{#RP#}base/js/ie6png.js"></script>
<![endif]-->
<!-reload-!>
</head>
<body {#background#}>