@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/*color*/
/**/
/**/
/**/
/**/
@font-face{
			font-family: msyhsb;
			src: url(https://rema-sports.com/base/templates/themes/default/css/msyhsb.ttc)format("truetype");
		}

/**/
/*font-family: "微軟正黑體", "Microsoft YaHei", "Arial Unicode MS", "Helvetica Neue", Helvetica, sans-serif;*/
.font {
  font-family: "Roboto","Microsoft YaHei",msyhsl, Arial, 'LiHei Pro', "微軟正黑體", sans-serif;
  /*font: 14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;*/
}
/*strong{
  font-family: "Roboto",Helvetica, Arial, 'LiHei Pro',"Microsoft Yahei", sans-serif;
}*/
/*Top Bar (login, search etc.)
------------------------------------*/
#load-header {
  height: 125px;
}
.top-info {
  background: #01c3ff;
  height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  min-width: 768px;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.top-info #top-info-slide {
  width: 500px;
  margin: 0 auto;
}
.top-info #top-info-slide .carousel-control {
  background-image: transparent;
  background: transparent;
  width: 30px;
  top: -2px;
}
.top-info #top-info-slide .carousel-control i {
  font-size: 15px;
}
.top-info #top-info-slide .carousel-control.left {
  left: -30px;
}
.top-info #top-info-slide .carousel-control.right {
  right: -30px;
}
.header {
  background: #000;
  height: 85px;
  width: 100%;
  text-align: center;
  min-width: 768px;
  position: fixed;
  z-index: 999;
  top: 40px;
}
.navbar-brand {
  display: inline-block;
  margin-left: 45px;
  position: relative;
  z-index: 999;
}
.navbar-brand img {
  width: 56px;
  height: 56px;
}
ul.main-nav {
  width: 608px;
  display: table;
  table-layout: fixed;
  /*display: inline-flex;*/
  padding-right: 131px;
  margin: 0 auto;
}
ul.main-nav .dropdown {
  position: static;
}
ul.main-nav > li {
  text-align: center;
  display: table-cell;
}
ul.main-nav > li:before {
  display: inline-block;
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  content: "";
  width: 1px;
  height: 15px;
  float: right;
  position: relative;
  margin-top: 35px;
}
ul.main-nav > li:last-child:before {
  display: none;
}
ul.main-nav > li > a {
  display: block;
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  padding: 33px 35px;
  line-height: 18px;
}
ul.main-nav > li:hover a,
ul.main-nav > li:focus a {
  color: #01c3ff;
  text-decoration: none;
}
ul.main-nav > li .main-nav-sub-b {
  background: #808080;
  border-radius: 0;
  width: 100%;
  padding-top:20px;
  padding-bottom:20px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 83px;
  z-index: 9999;
  min-width: 768px;
}
ul.main-nav > li .main-nav-sub-b .main-nav-sub {
  display: inline-block;
  width: 1000px;
}
ul.main-nav > li .main-nav-sub-b .main-nav-sub a {
  color: #ffffff;
  text-align: left;
  display: block;
  letter-spacing: 1px;
}
ul.main-nav > li .main-nav-sub-b .main-nav-sub ul li a:hover {
  color: #222;
}
/*18-3-6新增*/
.planning li a {
	font-family:"Trade Gothic Regular", "Roboto","Microsoft YaHei", msyhsb ,Arial, 'LiHei Pro', "微軟正黑體", sans-serif;
	margin-bottom: 4px;
	letter-spacing: 3px;
	font-weight: 600;
}
.test-line{
	border-left: 1px solid  #e9e9e9;
}
ul.main-nav > li .main-nav-sub-b .main-nav-sub h4 {
  color: #ffffff;
  text-align: left;
  display: block;
	font-family: "Trade Gothic Regular", "Roboto","Microsoft YaHei",msyhsb,Arial, 'LiHei Pro', "微軟正黑體", sans-serif;
	font-weight:600;
}
ul.main-nav > li .main-nav-sub-b .main-nav-sub ul h4 a {
  font-family:"Trade Gothic Regular",  "Roboto","Microsoft YaHei",msyhsb,Arial, 'LiHei Pro', "微軟正黑體", sans-serif;
         font-weight:600;
}
ul.main-nav > li .main-nav-sub-b .main-nav-sub ul h4 a:hover {
  color: #333333;
}
/*18-3-6新增(完)*/
.right-icon {
  float: right;
  margin-top: -55px;
  margin-right: 20px;
}
.right-icon > li {
  float: left;
  list-style: none;
  margin-right: 25px;
}
.right-icon > li > a {
  width: 36px;
  height: 36px;
  display: block;
  line-height: 20px;
  text-align: center;
  color: #000;
  position: relative;
}
.right-icon > li > a:before {
  display: inline-block;
  position: absolute;
  font-family: "icomoon";
  font-size: 30px;
  color: #ffffff;
  top: 0;
  left: 0;
}
.right-icon > li > a span {
  /*position: absolute;*/
  position: relative;
  z-index: 9;
  line-height: 27px;
  font-size: 12px;
  margin-left: -5px;
}
.right-icon > li > a .login {
  float: left;
  color: #ffffff;
  font-size: 14px;
  margin-left: -30px;
}
.right-icon > li .user:before {
  content: "\e904";
}
.right-icon > li .cart:before {
  content: "\e902";
}
.right-icon > li .fb:before {
  content: "\e903";
}
.cart-dropdown {
  padding: 0  10px;
  border-radius: 0;
  left: auto;
  right: -78px;
  width: 200px;
  top: 42px;
}
.cart-dropdown ul li {
  border-bottom: 1px dashed #a0a0a0;
}
.cart-dropdown ul li a {
  display: block;
  padding: 10px 5px;
  width: 100%;
  color: #999;
}
.cart-dropdown ul li a p {
  margin: 0;
  line-height: 20px;
}
.cart-dropdown ul li a:hover {
  /*color: #01c3ff;*/
}
.cart-dropdown ul li:last-child {
  border-top: 1px solid #a0a0a0;
  border-bottom: 0px;
  margin-top: -1px;
}
.cart-dropdown .btn {
  margin-bottom: 10px;
}
.cart-scroll {
  max-height: 305px;
  overflow: hidden;
  overflow-y: auto;
}
.planning{
    margin-left:50px;
}

/*-------------
SEARCH
-------------*/
#searchForm {
    margin-top: -5px;
}
#searchForm fieldset {
    width:240px;
    position:relative;
    display:block;
}

div.input {
    width:125px;
    padding:2px 15px 4px 15px;
    border-radius:20px;
    border:1px solid #a0a0a0;
    border-top:1px solid #c2c2c2;
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.08);
    float:right;
    background:#fff;
}

    div.input.focus {
        border:1px solid #9ecbe2;
        box-shadow:0 0 6px #abdcff, inset 0 1px 2px rgba(0,0,0,0.08);
    }

input#s {
    width:100%;
    border:0;
    border-radius:20px;
    background:transparent;
    height:16px;
    color:#b4bdc4;
    text-shadow:0 1px 1px #fff;
    font-size: 12px;
}

    input#s:focus {
        outline:none
    }

input#searchSubmit {
    width:19px;
    height:19px;
    text-indent:-9999px;
    overflow:hidden;
    background:url(../img/search-icon.png) no-repeat;
    border:0;
    position:absolute;
    top:7px; right:13px;
    z-index:5;
    display:none;
    cursor:pointer;
}