<!-start->
<script language="javascript" src="{#CP#}js/zone_en.js"></script>
<script language="javascript" src="{#CP#}js/reg.js"></script>

					<div id="reg" class="row two-col member">
						<form id="memberRegFirst" method="post" action="regchk.php" name="regform" >
                        <div class="col-xs-12 mem-in-e">
                            <!-- section -->
                            <p class="mem-in-note">
                            	Please fill in the following form to register as REMA member.<br>
                            	We will save the data provided by you for convenient purchases in the future.
                            </p>
                            <hr>
                            <!-- /section -->
                            <!-- section -->
                            <div class="row menber-register-hold fix-padding15 style-toggle mem-in-fbi">
                                <p class="title inline">Member account and password</p>
                                <span class="pull-right">* Must fill in</span>
                                <div class="clearfix m-b-30"></div>
                                <!-- list -->
                                <div class="col-xs-5 fix-padding mem-in-fom1">E-mail address*</div>
                                <div class="col-xs-7 fix-padding mem-in-fom2">
                                    <input type="text" name="email" id="email" class="form-control">
                                </div>
                                <div class="clearfix m-b-15"></div>
                                <!-- / list -->
                                <!-- list -->
                                <div class="col-xs-5 fix-padding mem-in-fom1">Password*</div>
                                <div class="col-xs-7 fix-padding mem-in-fom2">
                                    <input type="password" name="password" id="password" class="form-control">
                                </div>
                                <div class="clearfix m-b-15"></div>
                                <!-- / list -->
                                <!-- list -->
                                <div class="col-xs-5 fix-padding mem-in-fom1">Confirm Password*</div>
                                <div class="col-xs-7 fix-padding mem-in-fom2">
                                    <input type="password" name="repass" id="repass" class="form-control">
                                </div>
                                <div class="clearfix m-b-15"></div>
                                <!-- / list -->
                                <div class="clearfix m-b-30"></div>
                                <p class="title m-b-20">Member contact details</p>
                                <!--p class="mem-in-note2">※ Please note, if you need to apply for company invoice, please register to become a member under the name of the ”company”; if you have registered using ”individual” name, you will be unable to apply for company invoice. </p-->
                                <div class="clearfix m-b-30"></div>
                                <!-- ///////////////////////////////////////////////////////////// -->
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn active fix-padding" id="membertypeid1"  style="margin-right: 20px;">
                                        <input type="radio" name="membertypeid" value="1" checked><i class="icon-circle-o"></i><i class="icon-dot-circle-o"></i> <span class="small">  Individual</span>
                                    </label>
                                    <!--label class="btn active fix-padding" id="membertypeid2" >
                                        <input type="radio" name="membertypeid" value="2"><i class="icon-circle-o"></i><i class="icon-dot-circle-o"></i> <span class="small">  Company</span>
                                    </label-->
                                </div>
                                <div class="tab-content">
                                    <span id="zonelist">{#ZoneList#}</span>
                                    <div role="tabpanel" class="tab-pane fade in active" id="tab-1">
                                        <div class="clearfix m-b-30"></div>
                                        <div class="row22">
                                        	<!-- list -->
                                            <div class="col-xs-5 forc mem-in-fom1">Unified Taxation Code*</div>
                                            <div class="col-xs-7 forc mem-in-fom2">
                                                <input type="text" name="passcode" id="passcode" class="form-control">
                                            </div>
                                            <div class="clearfix m-b-15 forc"></div>
                                            <!-- / list -->
                                            <!-- list -->
                                            <div class="col-xs-5 forc mem-in-fom1">Business Name*</div>
                                            <div class="col-xs-7 forc mem-in-fom2">
                                                <input type="text" name="company" id="company" class="form-control forc">
                                            </div>
                                            <div class="clearfix m-b-15 forc"></div>
                                            <!-- / list -->
                                         	<!-- list -->
                                            <div class="col-xs-5 forp mem-in-fom1">Gender*</div>
                                            <div class="col-xs-7 forp mem-in-fom2">
                                                 <select name="sex" id="sex" class="selectpicker form-control">
                                                            <option value="1">Male</option>
                                                            <option value="2">Female</option>
                                                        </select>
                                            </div>
                                            <div class="clearfix m-b-15 forp"></div>
                                            <!-- / list -->
                                            <!-- list -->
                                            <div class="col-xs-5 mem-in-fom1">Name*</div>
                                            <div class="col-xs-7 mem-in-fom2">
                                                <input type="text" name="name" id="name" class="form-control">
                                            </div>
                                            <div class="clearfix m-b-15"></div>
                                            <!-- / list -->
                                            <!-- list -->
                                            <div class="col-xs-5 forp mem-in-fom1">Birthday*</div>
                                            <div class="col-xs-7 forp mem-in-fom2">
                                                <div class="row fix-padding10">
                                                    <div class="col-xs-4 fix-padding5">
                                                        <select name="Year_ID" id="Year_ID" class="selectpicker form-control">
                                                            <option value="0">Year</option>
                                                            {#showyear#}
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-4 fix-padding5">
                                                        <select name="Month_ID" id="Month_ID" class="selectpicker form-control">
                                                            <option value="0">Month</option>
														    <option value="01">01</option>
														    <option value="02">02</option>
														    <option value="03">03</option>
														    <option value="04">04</option>
														    <option value="05">05</option>
														    <option value="06">06</option>
														    <option value="07">07</option>
														    <option value="08">08</option>
														    <option value="09">09</option>
														    <option value="10">10</option>
														    <option value="11">11</option>
														    <option value="12">12</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-4 fix-padding5">
                                                        <select  name="Day_ID" id="Day_ID" class="selectpicker form-control">
                                                            <option value="0">Day</option>
														    <option value="01">01</option>
														    <option value="02">02</option>
														    <option value="03">03</option>
														    <option value="04">04</option>
														    <option value="05">05</option>
														    <option value="06">06</option>
														    <option value="07">07</option>
														    <option value="08">08</option>
														    <option value="09">09</option>
														    <option value="10">10</option>
														    <option value="11">11</option>
														    <option value="12">12</option>
														    <option value="13">13</option>
														    <option value="14">14</option>
														    <option value="15">15</option>
														    <option value="16">16</option>
														    <option value="17">17</option>
														    <option value="18">18</option>
														    <option value="19">19</option>
														    <option value="20">20</option>
														    <option value="21">21</option>
														    <option value="22">22</option>
														    <option value="23">23</option>
														    <option value="24">24</option>
														    <option value="25">25</option>
														    <option value="26">26</option>
														    <option value="27">27</option>
														    <option value="28">28</option>
														    <option value="29">29</option>
														    <option value="30">30</option>
														    <option value="31">31</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix m-b-15 forp"></div>
                                            <!-- / list -->
                                            <!-- list -->
                                            <div class="col-xs-5 mem-in-fom1">Country*</div>
                                            <div class="col-xs-7 mem-in-fom2">
                                                <select name="country" class="form-control" id="selcountry">
                                                	{#selcountry#}
                                                </select>
                                            </div>
                                            <div class="clearfix m-b-15"></div>
                                            <!-- / list -->
                                            <!-- list -->
                                            <div class="col-xs-5 mem-in-fom1">City/State*</div>
                                            <div class="col-xs-7 mem-in-fom2">
                                                <select class="form-control" id="Province" onKeyUp='if(window.event.keyCode==13) document.regform.zoneid.focus();'  onChange="provinceSelChange(regform.zoneid,regform.Province.value,'{#zoneid#}',regform.postcode,regform.addr,regform.Province)" name="Province">
	 	 											<script language=javascript>document.write(pList.getOptionString('{#Province#}'));</script>
												</select>
                                            </div>
                                            <div class="clearfix m-b-15"></div>
                                            <!-- / list -->
                                            <!-- list -->
                                            <div class="col-xs-5 mem-in-fom1">Town*</div>
                                            <div id="zonediv" class="col-xs-7 mem-in-fom2">
                                                <select onKeyUp='if(window.event.keyCode==13) document.regform.regCardNum.focus();' id="zoneid" name="zoneid"  class="form-control" onChange="postSelChange(regform.Province.value,regform.zoneid.value,regform.postcode,regform.addr,regform.Province)">
													<script language=javascript>
														document.write(pList.getOptionAreasString(regform.Province.value,regform.zoneid,'{#zoneid#}',1));
													</script>
												</select>
                                            </div>
                                            <div class="clearfix m-b-15"></div>
                                            <!-- / list -->
                                            <!-- list -->
                                            <div class="col-xs-5 mem-in-fom1">Address*</div>
                                            <div class="col-xs-7 mem-in-fom2">
                                                <input type="text" name="addr" id="addr" value="基隆市仁愛區" class="form-control">
                                            </div>
                                            <div class="clearfix m-b-15"></div>
                                            <!-- / list -->
                                            <!-- list -->
                                            <div class="col-xs-5 mem-in-fom1">Postal Code</div>
                                            <div class="col-xs-7 mem-in-fom2">
                                                <input type="number" name="postcode" id="postcode" value="200" class="form-control">
                                            </div>
                                            <div class="clearfix m-b-15"></div>
                                            <!-- / list -->
                                            <!-- list -->
                                            <div class="col-xs-5 mem-in-fom1">Telephone No. (Mobile No.)</div>
                                            <div class="col-xs-7 mem-in-fom2">
                                                <input type="tel" name="mov" id="mov" class="form-control">
                                            </div>
                                            <div class="clearfix m-b-15"></div>
                                            <!-- / list -->
                                            <!-- list -->
                                            <div class="col-xs-5 mem-in-fom1">Telephone No. (Other)</div>
                                            <div class="col-xs-7 mem-in-fom2">
                                                <input type="tel" name="tel" id="tel" class="form-control">
                                            </div>
                                            <div class="clearfix m-b-15"></div>
                                            <!-- / list -->
                                        </div>
                                        <!-- row -->
                                        <div class="clearfix m-b-15"></div>
                                    </div>
                                </div>
                                <!-- tab-content -->
                                <p class="mem-in-note2">※ Please enter at least one telephone number to receive the notifications for order status, and please confirm whether the number is correct or not.</p>
                                <div class="mem-in-linedot"></div>
                                <!-- checkbox -->
                                <div class="btn-group pull-left fix-padding5" data-toggle="buttons">
                                    <label class="btn active fix-padding">
                                        <input name="orderpaper" value="1" type="checkbox" checked><i class="icon-square-o"></i><i class="icon-check-square-o"></i> <span class="small"> I agree to subscribe to REMA E-Newsletter to receive the latest product information.</span>
                                    </label>
                                </div>
                                <div class="clearfix"></div>
                                <div class="btn-group pull-left fix-padding5 btn-group2" data-toggle="buttons">
                                    <label class="btn active fix-padding">
                                        <input id="tongyi" value="1" type="checkbox" checked><i class="icon-square-o"></i><i class="icon-check-square-o"></i> <span class="small"> I accept the/span>
                                    </label>
                                </div>
                                <p class="pull-left term-link underline"> <a href="{#RP#}page/html/" target="_blank">Privacy Right Declaration</a></p>
                                <div class="clearfix m-b-15"></div>
                                <!-- checkbox -->
                                <!-- //////////////////////////////////////////////////////////// -->
                            </div>
                            <!-- /section -->
                               <div class="clearfix"></div>
                          <hr>
                                <div class="clearfix m-b-20"></div>
                                <li class="blk-btn">
                                	<button type="submit" id="tijiao" data-dismiss="modal" class="btn btn-black btn-lg" style="width:150px">Continue</button>
                                </li>
                        </div>
                        	<input name="act" type="hidden" id="act" value="memberreg" />
							<input name="nowstep" type="hidden" id="nowstep" value="account" />
							<input name="nextstep" type="hidden" id="nextstep" value="enter" />
							<input name="step" type="hidden" id="step" value="check" />

                        </form>
                    </div>

<!-start->