<!-start->
<!-start->

<!-m0->
<!-m0->

<!-list->
            <div class="swiper-slide">
            	<h3>{#title#}</h3>
                <h4>{#subtitle#}</h4>
            	<a href="{#url#}"><img src="{#src#}"></a>
            </div>
<!-list->

<!-m1->
            <div class="swiper-slide">
            	<h3>{#title#}</h3>
                <h4>{#subtitle#}</h4>
            	<a href="javascript:;" style="width: 100%;"><iframe id="video-iframe" allow="autoplay; encrypted-media" src="{#url#}" frameborder="0" allowfullscreen="" style="float: left;width: 100%;height: 100%;transform: scale(1.1);"></iframe></a>
            </div>
<!-m1->

<!-end->
<!-end->