<!-start->
<link href="css/productlist_3.css" rel="stylesheet" type="text/css" />
<!-start->
<!-list->
<div class="productlist_3">
    <div class="productlist_3_left">
		<div class="fang" style="width:{#picw#}px;height:{#pich#}px">
		<div class="picFit" style="width:{#picw#}px;height:{#pich#}px">
		<a href="{#link#}" target="{#target#}" ><img src="{#src#}" style="width:{#picw#}px;height:{#pich#}px" border="0" /></a>
		</div>
		</div>
	</div>
	<div class="productlist_3_right">
		<a href="{#link#}" target="{#target#}" class="prodtitle" {#bold#} {#red#} >{#title#}</a>
		<span class="memo">
		{#memo#}
		</span><br />
		<span class="prop">
		{#propstr#}
		</span>
	</div>
</div>
<!-list->
<!-end->
<script>
$(function() {
$().picFit("{#fittype#}");
});
</script>
<!-end->
<!-m1->
{#propname#}：{#prop#}<br />
<!-m1->

