/* ============΄ՂP᭽============= */

ul.paperlist_mul{
margin:0px;
padding:0px;
}

li.paperlist_mul {
margin:0;
padding:0;
list-style-type: none;
overflow:hidden;
white-space:nowrap;
float:left;
height:22px;
width:50%;
color:#505050;
}

a.paperlist_mul:link,a.paperlist_mul:visited,a.paperlist_mul:active{
color:#505050;
text-decoration: none;
font:12px/22px mingliu;
padding-left:12px;
background: transparent url(../images/li.gif) left no-repeat;
}

a.paperlist_mul:hover{
color:#ff0000;
text-decoration: underline;
font:12px/22px mingliu;
padding-left:12px;
background: transparent url(../images/li.gif) left no-repeat;
}
