/* ============΄ՂP᭽============= */

ul.paperlistprop{
margin:0px;
padding:0px;
}

ul.paperlistprop li{
margin-bottom:10px;
padding:0px;
list-style-type: none;
font: 12px Verdana, Arial, Helvetica, sans-serif;
font-weight:100;
color:#555;
}

ul.paperlistprop div.papertitle{
margin-bottom:5px;
}
ul.paperlistprop div.paperprop{
font: 12px/18px Verdana, Arial, Helvetica, sans-serif;
}

a.papertitle:link,a.papertitle:visited,a.papertitle:active{
color:#555;
text-decoration: none;
font: bold 14px/16px Verdana, Arial, Helvetica, sans-serif;
}

a.papertitle:hover{
color:#ff6600;
text-decoration: underline;
font: bold 14px/16px Verdana, Arial, Helvetica, sans-serif;
}
