/* ============Õº∆¨+Ì©â‹Å–±ÌΩΩ============ */


ul.paperpicprop{
margin:0;
padding:0
}

ul.paperpicprop li{
clear:all;
list-style-type: none; 
padding:3px;
margin-bottom:3px;
border:1px #ddd solid;
overflow: hidden;
}

ul.paperpicprop div.picFit{
float:left;
text-align:center;
margin-right:13px;
overflow: hidden;
}

ul.paperpicprop div.pic img{
}

ul.paperpicprop div.tm{
margin-right:6px;
}


ul.paperpicprop a.title:link,ul.paperpicprop a.title:visited,ul.paperpicprop a.title:active{
font:bold 14px/22px mingliu;
color:#555;
text-decoration: none;
}

ul.paperpicprop a.title:hover{
font:bold 14px/22px mingliu;
color:#ff0000;
text-decoration: underline;
}


ul.paperpicprop div.memo{
font:12px/18px mingliu;
margin-top:3px;
color:#555;
}
