<!-start->
<!-start->
<!-list->
                <!-- "item -->
                <a href="{#link#}" target="{#target#}" class="item">
                    <div class="rim">
                        <img src="{#src#}" class="img-responsive">
                    </div>
                    <!-- rim -->
                    <h4 {#bold#} {#red#} >{#title#}</h4>
                    <p>{#pricesymbol#} {#price#}</p>
                </a>
                <!-- "END item -->
<!-list->
<!-end->
<!-end->

<!-m1->
{#propname#}：{#prop#}<br />
<!-m1->