<!-start->
<link type="text/css" rel="stylesheet" href="{#RP#}base/files/Brusco/WebComponents/Product_List.css"/>
<script type=text/javascript src="{#CP#}js/cart.js"></script>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom" class="b_bg" block_type="bg">
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk1_custom" class="b_bg" block_type="bg">
<!--div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk1_custom_blk1_custom" class="b_literal" block_type="literal">
<h1>{#catname#}</h1>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk1_custom_blk2_custom" class="b_literal" block_type="literal">
{#showpages#}
</div-->
<img src="{#catsrc#}" width="900" height="150" alt="{#catname#}" />
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom" class="b_literal" block_type="literal">



<!-start->

<!-list->
<div id="{#row#}">
   <div id="ListImg"><img src="{#src#}" /></div>
   <div id="ListDescription"><h1>{#bn#}</h1><h2>{#title#}</h2><h3><span style="display:{#showprice0#};text-decoration:line-through;">NT${#price0#}</span> NT${#price#}</h3></div>
   <!--div id="ListColor">
   {#coloricon#}
   </div-->
   <div id="ListLink"><a href="{#link#}">&nbsp;</a></div>
</div>
<!-list->


<!-menu->

<!-menu->

<!-con->
<!-con->

<!-m1->
{#propname#}：{#prop#}<br />
<!-m1->

<!-end->
</div>
</div>

<div id="showpages" style="display:none">
	  <div id="pagesinfo">共{#totalnums#}則 每頁{#pagesshownum#}則 頁次：{#pagesnow#}/{#pagestotal#}</div>
	  <div id="pages">{#showpages#}</div>
 </div>
<!-end->