<!-start->
<div class="top-status">
        <a href="{#CP#}class/?{#mobicatid#}.html"> <i class="icon-cross"></i>{#bn--#} {#title#}</a>
       <span id="money">{#pricesymbol#} {#price#}</span>
    </div>
                <div class="container product-des">
            <div class="tab-content">
            <!-- tab-1 -->
  <div role="tabpanel" class="tab-pane active" id="color1">
    <!-- MAIN SLIDER -->
          <div class="swiper-container" id="swiper-container1">
            <div class="swiper-wrapper" id="showzoom">
            	{#zoomlist#}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Navigation -->
            <!--div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div-->
        </div>


    <!-- MAIN SLIDER -->
  </div>
            <!-- END tab-1 -->
</div>
<!-- tab-content -->
<div class="product-hold" style="clear:both;">
<h4 class="title2">Select Color</h4>
<ul class="nav nav-tabs">
	{#selcolor#}
</ul>
<a href="{#thisurl#}&act=size" class="title3">Size Chart</a>
<div class="clearfix m-b-15"></div>
<div class="row fix-padding15 m-b-20">
    <div class="col-xs-6 fix-padding">
         <select class="selectpicker form-control" data-style="btn-gray" name="size" id="selsize">
         <option value="" selected>Select Size</option>
      	{#selsize#}
  </select>
    </div>
    <div class="col-xs-6 fix-padding">
        <a href="javascript:;" class="btn btn-black btn-block ibuyit" id="addtocart">BUY</a>
    </div>
    
                            <input name="gid" type="hidden" id="gid" value="{#gid#}" />
                            <input name="shopid" type="hidden" id="shopid" value="{#id#}">
                            <input name="subpicid" type="hidden" id="subpicid" value="{#subpicid#}" />
                            <input name="buyspecid" type="hidden" id="buyspecid" value="">
                            <input name="buysize" type="hidden" id="buysize" value="">
                            <input name="buyprice" type="hidden" id="buyprice" value="{#oriprice#}">
                            <input name="buynums" name="buynums" type="hidden" id="buynums" value="1" />
                            <input name="fz" type="hidden" id="fz" value="" />
                            
                            <input name="discat" type="hidden" id="discat" value="">
                            <input name="distype" type="hidden" id="distype" value="">
                            <input name="disnum" type="hidden" id="disnum" value="">
                            <input name="disrate" type="hidden" id="disrate" value="">
                            <input name="disprice" type="hidden" id="disprice" value="">
</div>
  <p class="m-b-20">{#memo#}</p>
  <hr>
  <div class="clearfix m-b-20"></div>
<h4 class="title2">Product Detail</h4>
  <div class="clearfix m-b-20"></div>
  <div class="clearfix m-b-20"></div>
<div id="body">{#mbody#}</div>
</div><!-- product-hold -->

                </div>
                <!-- container product-list -->
                       
<!-start->
<!-list->
{#propname#}：{#prop#}<br>
<!-list->

<!-m0->
                <div class="swiper-slide">
                    <div class="swiper-zoom-container"  data-swiper-zoom="2">
                    	<img src="{#srcs#}" data-src="{#src#}" class="swiper-lazy">
                    	<div class="swiper-lazy-preloader"></div>
                    </div>
                </div>
<!-m0->


<!-menu->
                                <li class="{#active#}">
                                    <a href="javascript:;" id="selcolor_{#id#}" class="selcolor"><img src="{#src#}" alt=""></a>
                                </li>
<!-menu->

<!-text->
	<option value="{#size#}-{#specid#}">{#size#}</option>
<!-text->

<!-end->
                </div>
    <script>
		setTimeout(function() { $(".bottom-nav li").eq({#nav#}).addClass("active");}, 300 );
    </script>
<!-end->
<!-err1-><div class="notice">目前ID不存在或尚未發佈</div><!-err1->
<!-err2-><div class="notice">對不起,本內容設置了閱讀權限,您無權瀏覽目前內容</div><!-err2->

<!-m2->
<script>
$(document).ready(function() {
	$("#bottom-nav, #footer").hide();
});
</script>
     <div class="top-status">
        <a href="javascript:history.back();"> <i class="icon-cross"></i></a>
        Size Chart
    </div>
    <div class="container inpage">
        <img src="{#mobisize#}" class="img-responsive" alt="">
        <div class="clearfix m-b-20"></div>
    </div>
<!-m2->