<!-start->
<link type="text/css" rel="stylesheet" href="{#RP#}base/files/Brusco/WebComponents/Product_Detail.css"/>
    <link type="text/css" rel="stylesheet" href="{#RP#}base/files/Brusco/WebComponents/SelectButton_84x24/SelectButton.css"/>
    <script type="text/javascript" src="{#RP#}base/files/Brusco/WebComponents/SelectButton_84x24/SelectButton.js"></script>
<link rel="stylesheet" href="{#MYCSS#}prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
<script src="{#MYCSS#}jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script type=text/javascript src="{#CP#}js/shopcontent.js?555873"></script>
<script type="text/javascript" src="{#MYCSS#}featuredimagezoomer.js"></script>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom" class="b_bg" block_type="bg">
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk1_custom" class="b_literal" block_type="literal">
<h2>{#catname#}</h2>
<a href="{#sublink#}">{#subcatname#}</a>
<h1>{#bn#} {#title#}</h1>
</div>

<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom" class="b_bg" block_type="bg">
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk1_custom" class="b_bg" block_type="bg" style="">
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk1_custom_blk1_custom" class="b_literal" block_type="literal">
	<div style="width:77px;height:500px;margin-right:10px;float:left;">
		<div style="width:77px;height:474px;overflow:hidden;" id="subpic">
			<div id="showit">{#subpic#}</div>
		</div>
		<div style="width:77px;display:{#showarr#}">
			<img src="{#MYIMAGES#}uu.png" id="uusrc" style="cursor:pointer;float:left;" />
			<img src="{#MYIMAGES#}dd.png" id="ddsrc" style="cursor:pointer;float:right;" />
		</div>
	</div>

	<div id="gg"><img src="{#src_main#}" id="mainsrc" style="display:block;width:500px;height:500px;float:left;" /></div>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk1_custom_blk2_custom" class="b_bg" block_type="bg">
<!--div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk1_custom_blk2_custom_blk1_custom" class="gallery b_literal" block_type="literal">
{#showsmalla#}
{#showsmallb#}
{#showsmallc#}
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk1_custom_blk2_custom_blk2_custom" class="b_literal" block_type="literal">
<h4>{#prop1#}</h4>
</div-->
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk1_custom_blk2_custom_blk3_custom" class="b_literal" block_type="literal">
<h1>{#bn#} {#title#}</h1>
</div>

<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk1_custom_blk2_custom_blk8_custom" class="b_literal" block_type="literal">
<p>{#body#}</p>
</div>

<div style="float:right;margin:10px 0px 15px 0px;">
<a href="javascript: void(window.open('http://twitter.com/home/?status='.concat(encodeURIComponent(document.title)) .concat(' ') .concat(encodeURIComponent(location.href))));" style="margin:5px 0 0 5px;display:block;float:right;"><img src="{#MYIMAGES#}icon_twitter.png" alt="推薦本文到Twitter推特去！" title="推薦本文到Twitter推特去！" width="24" height="24"></a>
<a href="javascript: void(window.open('http://www.facebook.com/share.php?u='.concat(encodeURIComponent(location.href)) ));" style="margin:5px 0 0 5px;display:block;float:right;"><img src="{#MYIMAGES#}icon_facebook.png" alt="推薦本文到Facebook去！" title="推薦本文到Facebook去！" width="24" height="24"/></a>
</div>

<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk1_custom_blk2_custom_blk4_custom" class="b_literal" block_type="literal">
<h3 style="float:left;">{#newdisprice#}<span style="font-size:10pt; position:absolute;margin-left:5px;font-weight:0;"><del>{#price0#}</del></span></h3>
</div>

<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk1_custom_blk2_custom_blk5_custom" class="b_bg" block_type="bg">
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk1_custom_blk2_custom_blk5_custom_blk1_custom" class="b_literal" block_type="literal">
<!--顏色-->
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk1_custom_blk2_custom_blk5_custom_blk2_custom" class="b_literal" block_type="literal">
<div id="SelectStyle">
<div id="sizeselect">
  <select name="buysize" id="buysize">
    <option value="0" selected="selected">尺寸</option>
  </select>
</div>
</div></div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk1_custom_blk2_custom_blk5_custom_blk3_custom" class="b_literal" block_type="literal">
<div id="SelectStyle">
<div id="numsselect">
  <select name="buynums" id="buynums">
    <option value="0" selected="selected">數量</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
</div>
</div></div>


</div>

<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk1_custom_blk2_custom_blk6_custom" class="b_literal" block_type="literal">

<img src="{#RP#}base/files/Brusco/WebComponents/Products/AddToCart_Button_300dpi_182x57.png" id="addtocart" style="cursor:pointer;"/>

</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk1_custom_blk2_custom_blk5_custom_blk4_custom" class="gallery b_literal" block_type="literal">
	<a class="fancybox" id="SizeChart" target="_blank" href="{#sizechart#}" title="">
		<img src="{#RP#}base/files/Brusco/WebComponents/Products/SizeChart_300dpi_66x30.png"/>
	</a>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk1_custom_blk2_custom_blk7_custom" class="b_literal" block_type="literal">
<p>加入購物車前請確認您選擇的規格是否正確。</p>
</div>

</div>
</div>

<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom" class="b_literal" block_type="literal"><img src="{#src_features#}"/></div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk3_custom" class="b_literal" block_type="literal" style="display:{#ispads#}">{#src_pads#}

<div id="PadsMore" style="display:{#ispads#}"><a href="{#padsmorelink#}"><img src="{#RP#}base/files/Brusco/WebComponents/Products/Pads_MoreIcon_300dpi_67x21.png"/></a></div>

</div>
<!--
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk4_custom" class="b_bg" block_type="bg"><div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk4_custom_blk1_custom" class="b_literal" block_type="literal"><img src="{#RP#}base/files/Brusco/WebComponents/Products/Title_Detail_300dpi_56x14.png"/></div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk4_custom_blk2_custom" class="b_literal" block_type="literal"><img src="{#src_detaila#}"/></div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk4_custom_blk3_custom" class="b_literal" block_type="literal"><img src="{#src_detailb#}"/></div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk4_custom_blk4_custom" class="b_literal" block_type="literal"><img src="{#src_detailc#}"/></div>
</div>

<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk5_custom" class="b_bg" block_type="bg">

<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk5_custom_blk1_custom" class="b_literal" block_type="literal"><img src="{#RP#}base/files/Brusco/WebComponents/Products/Title_Fabrics_300dpi_68x14.png"/></div>
-->
<!--Fabric LIST-->
<!--
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk5_custom_blk2_custom" class="b_bg" block_type="bg" {#show_fa#}>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk5_custom_blk2_custom_blk1_custom" class="b_literal" block_type="literal">
<a href="{#link_fa#}" ><img src="{#srct_fa#}"/></a>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk5_custom_blk2_custom_blk2_custom" class="b_literal" block_type="literal">
<a href="{#link_fa#}" ><img src="{#srcb_fa#}"/></a>
</div>
</div>


<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk5_custom_blk3_custom" class="b_bg" block_type="bg" {#show_fb#}>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk5_custom_blk3_custom_blk1_custom" class="b_literal" block_type="literal">
<a href="{#link_fb#}"><img src="{#srct_fb#}"/></a>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk5_custom_blk3_custom_blk2_custom" class="b_literal" block_type="literal">
<a href="{#link_fb#}"><img src="{#srcb_fb#}"/></a>
</div>
</div>


<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk5_custom_blk4_custom" class="b_bg" block_type="bg" {#show_fc#}>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk5_custom_blk4_custom_blk1_custom" class="b_literal" block_type="literal">
<a href="{#link_fc#}"><img src="{#srct_fc#}"/></a>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk5_custom_blk4_custom_blk2_custom" class="b_literal" block_type="literal">
<a href="{#link_fc#}"><img src="{#srcb_fc#}"/></a>
</div>
</div>
-->
<!--Fabric LIST-->
<!--
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk6_custom" class="b_literal" block_type="literal"><img src="{#RP#}base/files/Brusco/WebComponents/Products/MadeInItaly_300dpi_353x13.png"/></div>
-->
</div>
</div>


	<input name="gid" type="hidden" id="gid" value="{#gid#}" />
	<input type="hidden" id="shopid" value="{#id#}"> 
	<input type="hidden" id="buycolor" value="">
	<input type="hidden" id="buyprice" value="{#price#}">
	<input type="hidden" id="buycolorname" value="">
	<input type="hidden" id="buyspecid" value=""> 
	<input type="hidden" id="isadd" value="{#isadd#}">
	<input type="hidden" id="oriprice" value="{#oriprice#}">
	<input type="hidden" id="usedis" value="{#usedis#}">
	<input type="hidden" id="discat" value="{#discat#}">
	<input type="hidden" id="distype" value="{#distype#}">
	<input type="hidden" id="disnum" value="{#disnum#}">
	<input type="hidden" id="disrate" value="{#disrate#}">
	<input type="hidden" id="disprice" value="{#disprice#}">
</div>
<!-start->
<!-list->
{#propname#}：{#prop#}<br>
<!-list->

<!-end->
<script type="text/javascript" charset="utf-8">
			$(document).ready(function(){
				$("#SizeChart").prettyPhoto({social_tools: false,allow_expand: false,theme:'light_rounded',allow_resize: false});
				
				$("area[rel^='prettyPhoto']").prettyPhoto({social_tools: false});
				
				$(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_rounded',slideshow:false, autoplay_slideshow: false,social_tools: false,show_title: false});
				$(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:false, hideflash: true});
				
		
				/*$("#custom_content a[rel^='prettyPhoto']:first").prettyPhoto({
					custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>',
					changepicturecallback: function(){ initialize(); }
				});*/

				/*$("#custom_content a[rel^='prettyPhoto']:last").prettyPhoto({
					custom_markup: '<div id="bsap_1259344" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div><div id="bsap_1237859" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6" style="height:260px"></div><div id="bsap_1251710" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div>',
					changepicturecallback: function(){ _bsap.exec(); }
				});*/
			});
			</script>

<!-end->
<!-err1-><div class="notice">目前ID不存在或尚未發佈</div><!-err1->
<!-err2-><div class="notice">對不起,本內容設置了閱讀權限,您無權瀏覽目前內容</div><!-err2->