<!-start->
<style>
#tnums{
font-size: 26px;
font-family: "DIN","微軟正黑體","Lucida Grande","Lucida Sans Unicode","Microsoft JhengHei",Helvetica,Arial,Verdana,sans-serif;
width:44px;
height:37px;
background:url({#MYIMAGES#}right-cart.png) no-repeat;
padding-top:64px;
text-align:center;
color:#83AFF6;
font-weight: bold;
}
</style>

<div id='lovexin45' style='height:103px;position:fixed;left:0px;bottom:60px;background:#fff;padding:2px;cursor:pointer;' onclick='location.href="{#CP#}cart.php"'>
	<div id="tnums">
	<span id="tnumsa">{#tacc#}<span>
<!-start->
<!-end->
	</div>
</div>
<script>
		function heartBeat(){
			var BG_Scr = document.getElementById("rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom");  // 取得背景圖放置區塊
			
			var addleft = (BG_Scr.offsetWidth - 1128 )/2 + 1138;
			document.getElementById("lovexin45").style.left = addleft + 'px';
		}
		window.setInterval("heartBeat()",1); 
		//heartBeat();
		
</script>
<!-end->