<!-start->
<!-start->
<!-list->
					<div class="product-item-block">
						<div class="product-item">
							<a href="{#link#}" target="{#target#}" ><div class="product-item-pic cycling1" style="background-image: url('');"><img src="{#colorpics#}" loading="lazy"></div></a>
							<div class="product-item-word">
								<div class="color-list">
									{#colors#}
								</div>
								<div class="product-item-info">
									<div class="product-item-info-title">
										<p class="">{#title#}</p>
										<p class="">{#bn#}</p>
									</div>
									<div class="product-item-info-price font-s">{#pricesymbol#} {#price#} <del style="display:{#showprice0#};font-size: 0.8em;">{#pricesymbol#} {#price0#}</del></div>
								</div>
								<div class="color-pic-cont" style="display: none">
									<div class="color-pic-block">
										<div class="color-pic-width">
											<div class="color-pic"><img src="{#colorpics#}" loading="lazy"></div>
											{#m2#}
										</div>
										
									</div>
									<div class="color-pic-nav">
										<div class="color-prev"><span>&#10094;</span></div>
										<div class="color-next"><span>&#10095;</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>


<!-list->

<!-m0->
							<a href="{#link#}" ><div class="product-item-pic cycling1" style="background-image: url('');"><img src="{#src#}" loading="lazy"></div></a>
<!-m0->
<!-m2->
							<div class="color-pic"><img src="{#srcs#}"></div>
<!-m2->

<!-m3->
<!-m3->

<!-menu->
				<div class="category-series rema-col f7 mf8 s12" style="clear:both;">
					<div class="category-series-con">
						<div class="category-img bgimg cycle" style="background-image: url('');"><img src="{#catsrc#}" loading="lazy"></div>
						<div class="word-con">
							<div class="title font-xxl font-w-l">{#catname#}</div>
							<div class="word font-s">{#memo#}</div>
						</div>
					</div>
				</div>
				<div class="protduct-item-con rema-col f13 mf12 s12"><!--S***-->
<!-menu->

<!-con->
<li>{#strNoresult#}</li>
<!-con->

<!-m1->
{#propname#}：{#prop#}<br />
<!-m1->

<!-end->
					</div><!--E***wayhunt-->
<!-end->

<!-text->
	<div class="color-boll" style="background-color: {#colorcode#};"></div>
<!-text->
