<!-start->
                    <!-- section -->
                    <div class="m-b-20"></div>
                    <p>Please select the order you want to return. If you have any questions, please contact our Customer Service Center.</p>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6">
                            <p class="pull-left" style="margin-right:30px">Date {#dtime#}</p>
                            <p class="pull-left">Order No. {#OrderNo#}</p>
                        </div>
                        <div class="col-xs-6">
                            <div class="btn-group pull-right">
                                <a href="{#preid#}" class="btn btn-default" style="margin-right:10px"><i class="icon-arrow-left"></i> Prev</a>
                                <a href="{#nextid#}" class="btn btn-default">Next <i class="icon-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <!--END  section -->
                    <hr class="hr-15">
                    <!-- section -->
                    <div class="row">
                        <div class="col-md-6">
                            <p class="title">Delivery Asddress</p>
                            <ul class="info">
                                <li>{#name#} </li>
                                <li>{#s_addr_a#}</li>
                                <li>{#s_addr_b#}</li>
                                <li>{#s_addr_c#} {#postcode#}</li>
                                <li>{#country#}</li>
                                <li>Mobile number: {#s_mobi#}</li>
                            </ul>
                        </div>
                        <div class="col-md-6 card-info">
                        <div class="right-sum m-b-20" style="margin-top: 0">
                                <table>
                                    <tbody><tr>
                                        <td>Logistics charge (free transportation for reaching {#getsymbol#} {#setyunfei#})</td>
                                        <td class="fix-padding15">{#pricesymbol#} {#multiyunfei#}</td>
                                    </tr>
                                    <tr>
                                        <td>Online account balance {#getsymbol#} {#account#}, use this time</td>
                                        <td class="fix-padding15">{#pricesymbol#} {#disaccount#} </td>
                                    </tr>
                                     <tr>
                                        <td>E-coupon deduction amount</td>
                                        <td class="fix-padding15">{#pricesymbol#} {#promoprice#} </td>
                                    </tr>
                                     <tr>
                                        <td colspan="2">
                                        <hr class="hr-10">
                                           <span class="title">Total Amount</span> 
                                            <p class="money">{#pricesymbol#} {#tjine#}</p>
                                        </td>
                                    </tr>
                                </tbody></table>
                            </div>
                            <div class="clearfix m-b-15 visible-sm"></div>
                        </div>
                    </div>
                    <!-- END section -->
                    <!-- section -->
                    <div class="row  fix-padding15">
                        <!-- ///////////////////////////////////////////////////////////// -->
                        <!-- table -->
                        <table class="table cart-list line-top a1 style-toggle">
                            <thead>
                                <tr>
                                    <td>Product Name</td>
                                    <td>Color</td>
                                    <td>Size</td>
                                    <td>Quantity</td>
                                    <td>Amount</td>
                                    <td>Please check to return</td>
                                </tr>
                                <form action="" method="post">
                                <input type="hidden" name="orderid" value="{#orderid#}" />
                                <input type="hidden" name="act" value="sendtui" />
  <!-start->
  <!-list->

                                <tr>
                                    <td>
                                        <p>{#bn#}</p>
                                        <p>{#goods#}</p>
                                    </td>
                                    <td>{#colorname#}</td>
                                    <td>{#size#}</td>
                                    <td>{#nums#}</td>
                                    <td>{#pricesymbol#} {#jine#}</td>
                                    <td>
                                        <div class="btn-group" data-toggle="buttons" style="{#dischk#}">
                                        	<label class="btn">
	                                            <input type="checkbox" name="tuilist[]" value="{#itemid#}">
	                                            <i class="icon-square-o"></i>
	                                            <i class="icon-check-square-o"></i>
                                            </label>
                                        </div>
                                        <div class="btn-group" data-toggle="buttons" style="{#distui#}">
                                        	Applied for return
                                        </div>
                                    </td>
                                </tr>
  <!-list->
    <!-text->

                                <tr>
                                    <td>
                                        <p>{#bn#}</p>
                                        <p>{#goods#}</p>
                                    </td>
                                    <td>{#colorname#}</td>
                                    <td>{#size#}</td>
                                    <td>{#nums#}</td>
                                    <td>{#pricesymbol#} {#jine#}</td>
                                    <td>
                                        -----
                                    </td>
                                </tr>
  <!-text->
<!-end->
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <!-- END table -->
                        <!-- //////////////////////////////////////////////////////////// -->
                    </div>
                    <!-- /section -->
                    <div class="clearfix"></div>
                    <button type="submit" class="btn btn-black btn-lg pull-left">Confirm to apply for return of goods</button>
                    </form>
<!-end->

<!-err1->
<link href="css/shoporderdetail.css" rel="stylesheet" type="text/css" />
<div class="ordererr">{#ntc#}</div>
<!-err1->


<!-m0->
<script language="javascript" src="{#CP#}js/ordertuidetail.js"></script>
                    <!-- section -->
                    <div class="m-b-20"></div>
                    <p>您選擇的退貨商品如下。<br>
請確認吊牌與包裝盒是否完整，將商品放入原紙箱或包裝袋內，快遞人員會在三個工作天內到您府上取件。</p>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6">
                            <p class="pull-left">Order No. {#OrderNo#}</p>
                        </div>
                    </div>
                    <!-- row -->
                    <!--END  section -->
                    <div class="clearfix m-b-10"></div>
                    <!-- section -->
                    <div class="row  fix-padding15">
                        <!-- ///////////////////////////////////////////////////////////// -->
                        <!-- table -->
                        <table class="table cart-list line-top a1 style-toggle">
                            <thead>
                                <tr>
                                    <td>Product Name</td>
                                    <td>Color</td>
                                    <td>Size</td>
                                    <td>Quantity</td>
                                    <td>Amount</td>
                                    <td class="t-gap"></td>
                                </tr>
                            </thead>
                            <tbody>
                            <input type="hidden" name="orderid" id="orderid" value="{#orderid#}" />
                            <input type="hidden" name="tuilist" id="tuilist" value="{#tuilist#}" />
<!-m0->

<!-m1->
                                <tr>
                                    <td>
                                        <p>{#bn#}</p>
                                        <p>{#goods#}</p>
                                    </td>
                                    <td>{#colorname#}</td>
                                    <td>{#size#}</td>
                                    <td>{#nums#}</td>
                                    <td>{#pricesymbol#} {#jine#}</td>
                                    <td>
                                    
                                    </td>
                                </tr>
<!-m1->

<!-m2->
                            </tbody>
                        </table>
                        <!-- END table -->
                        <!-- //////////////////////////////////////////////////////////// -->
                    </div>
                    <!-- /section -->
                    <div class="clearfix"></div>
                    <div class="btn-group">
                            <a href="javascript:history.back();" class="btn btn-black-rim btn-lg" style="width:150px; margin-right:10px;"><i class="icon-arrow-left"></i> Modify</a>
                            <a id="sendtui" class="btn btn-black btn-lg" style="width:150px">Confirm</a>
                        </div>
<!-m2->

<!-menu->
                    <div class="m-b-20"></div>
                    <p>您的退貨申請已送出。<br>
請確認吊牌與包裝盒是否完整，將商品放入原紙箱或包裝袋內，<br>
快遞人員會在三個工作天內到您府上取件。</p>
                    <!--END  section -->
                    <div class="clearfix m-b-50"></div>
                    <div class="clearfix m-b-50"></div>
                    <div class="clearfix m-b-50"></div>
                    <div class="clearfix m-b-50"></div>
                    <div class="clearfix m-b-50"></div>
                    <div class="clearfix m-b-50"></div>
                    <div class="clearfix m-b-50"></div>
<!-menu->