<!-start->
<!-start->
<!-list->
<a href="{#link#}" target="{#target#}" class="product-card text-center col-lg-3 col-md-4 col-6">
	<div
	  class="product-img"
	  style="background-image: url({#colorpics#});"
	  loading="lazy"
	></div>
	<p>
	  <span class="product-code">{#bn#}</span> {#title#}
	</p>
	<p>
		{#pricesymbol#} {#price#}
	</p>
</a>
					


<!-list->

<!-m0->
							<a href="{#link#}" ><div class="product-item-pic cycling1" style="background-image: url('');"><img src="{#src#}" loading="lazy"></div></a>
<!-m0->
<!-m2->
							<div class="color-pic"><img src="{#srcs#}"></div>
<!-m2->

<!-m3->
<!-m3->

<!-menu->
				
<div class="product-list d-flex flex-wrap"><!--S***-->
<!-menu->

<!-con->
<li>{#strNoresult#}</li>
<!-con->

<!-m1->
{#propname#}：{#prop#}<br />
<!-m1->

<!-end->
					</div><!--E***wayhunt-->
<!-end->

<!-text->
	<div class="color-boll" style="background-color: {#colorcode#};"></div>
<!-text->
