<!-start->
                    <div class="m-b-30"></div>
                    <p>请选择你想要退货的订单。如有任何问题，请与我们的客户服务中心联络。</p>
                    <!-- section -->
                    <div class="row  fix-padding15 style-toggle">
                        <div class="clearfix m-b-20"></div>
                        <!-- ///////////////////////////////////////////////////////////// -->
                        <!-- table -->
                        <table class="table cart-list line-top">
                            <thead>
                                <tr>
                                    <td>日期</td>
                                    <td>订单编号</td>
                                    <td>状态</td>
                                    <td>金额</td>
                                    <td class="t-gap"></td>
                                </tr>
                            </thead>
                            <tbody>
<!-start->  
<!-list->
                                <tr>
                                    <td> {#dtime#} </td>
                                    <td>{#OrderNo#}</td>
                                    <td>{#status#}</td>
                                    <td> {#pricesymbol#} {#paytotal#} </td>
                                    <td><a href="ordertuidetail.php?orderid={#orderid#}" class="btn btn-default pull-right" {#showtui#}>申请退货</a></td>
                                </tr>
<!-list->

<!-m0->
                    <!-- section -->
                    <div class="m-b-20"></div>
                    <p>我们会请快递到府收取您的退货。<br>
                    ※请务必确认好以下须知后进行退货</p>
                    <hr>
                    <!--END  section -->
                      <div class="fix-padding15">
                          <ul class="list-num">
                        <li>吊牌与包装盒必须完整、吊牌勿剪。</li>
                        <li>产品没有使用与洗涤过。</li>
                        <li> 若收到货品时有纸箱包装，快递取件时请将产品放入〝原纸箱包装″，请勿将单一产品交给快递，会造成产品原包装损坏。</li>
                        <li>若收到货品时为快递袋包装，取件时请将产品依原快递袋包装封口，若原快递袋已破损，请向取件人员索取快递包装袋，请勿将单一产品交给快递，会造成产品损坏。</li>
                        <li>如未依照规定寄回造成产品损坏，将会依损坏程度请求赔偿。</li>
                    </ul>
                      </div>
                    <div class="clearfix m-b-20"></div>
                    <a href="{#CP#}ordertui.php?act=list" class="btn btn-black btn-lg pull-left" style="width:150px">确定申请退货</a>
<!-m0->

<!-end->
                            </tbody>
                        </table>
                        <!-- END table -->
                        <!-- //////////////////////////////////////////////////////////// -->
                    </div>
                    <!-- /section -->
                    <div class="clearfix"></div>
<!-end->