<!-start->
				
<!-start->

<!-m0->
					<div class="item">
						<div class="introduce-pic ratios-img"><img src="{#src#}" loading="lazy"></div>
						<div class="introduce-word">
							<div class="title font-w-s">{#subcat#}</div>
							<div class="link font-w-s">
								{#menu#}
							</div>
						</div>
					</div>
<!-m0->

<!-m1->
					<div class="item">
						<div class="introduce-pic ratios-img"><img src="{#src#}" loading="lazy"></div>
						<div class="introduce-word">
							<div class="title font-w-s">{#subcat#}</div>
							<div class="link font-w-s">
								{#menu#}
							</div>
						</div>
					</div>
<!-m1->

<!-m2->
					
<!-m2->

<!-text->
									
<!-text->


<!-menu->
	<a class="hover-underline" href="{#slink#}"  target="{#target#}">{#scat#}</a>{#show#}
<!-menu->

<!-list->
	
<!-list->

<!-end->
				
				
<!-end->