@charset "utf-8";
/* CSS Document */

.window-con.invoice-block{
    width: 600px; 
    top: calc(15vh + 275px );
}
.invoice-con{
    display: flex;
}
.invoice-fir{
    border: 1px solid hsla(0,0%,4%,1.00);
    padding: 30px;
    margin: 10px;
    width: 50%;
    margin-left: 40px;
}
.invoice-sec{
    border: 1px solid hsla(0,0%,4%,1.00);
    padding: 30px;
    margin: 10px;   
    width: 50%;
    margin-right: 40px;
}
.invoice-qr-con{
    display: flex;
}
.invoice-qr{
    width: 48%;
    padding: 1%;
}
.invoice-notice{
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 20px;
}
.invoice-word-con{
    display: flex;
    font-size: 14px;
}
.invoice-notice-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: hsla(0,0%,4%,1.00);
    margin: 8px;
}
.invoice-notice-line{
    display: flex;
    
}
.invoice-notice-word{
    width: calc(100% - 20px);
}
.invoice-fir .invoice-title{
    padding-top: 10px;
    font-size: 25px;
    letter-spacing: 1.6px;
}
.invoice-fir .invoice-time{
    font-size: 26px;
    letter-spacing: 1.5px;
    line-height: 32px;
}
.invoice-fir .invoice-code-word{
    font-size: 29px;
    line-height: 34px;
}
.invoice-fir .invoice-shoping-time{
    padding-right: 15px;
}
.invoice-fir .invoice-word-price{
    padding-right: 15px;
}
.invoice-fir .seller{
    font-size: 14px;
}
.invoice-fir .invoice-code{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px;
    margin-bottom: 6px;
}
.invoice-qr.padding-right{
    padding-right: 5px;
}
.invoice-qr.padding-left{
    padding-left: 5px;
}
.invoice-sec .invoice-title{
    font-size: 20px;
    letter-spacing: 6px;
    text-align: center;
    padding-bottom: 12px;
    font-weight: 600
}
.invoice-sec .invoice-word-gap{
    padding-bottom: 10px;
}
.invoice-sec .invoice-detail{
    justify-content: space-between;
    padding-top: 5px;
}
.invoice-sec .invoice-price{
    justify-content: space-between;
    padding-top: 10px;
}
.invoice-sec .invoice-total{
    float: right;
    padding-top: 10px;
}

@media(max-width:700px){
    .window-con.invoice-block {
        width: 90%;
        padding: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
        top: calc(15vh - 40px );
    }

    .invoice-con{
        flex-direction: column;
    }
    .invoice-fir{
        border: 1px solid hsla(0,0%,4%,1.00);
        padding: 30px;
        margin: 10px;
        width: 190px;
        margin: auto;
    }
    .invoice-sec{
        border: 1px solid hsla(0,0%,4%,1.00);
        padding: 30px;
        margin: 10px;
        width: 190px;
        margin: auto;
        min-height: 350px;
        margin-top: 30px;
    }
    .invoice-notice {
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 20px;
    }

}