@charset "utf-8";
/* CSS Document */
.background-black{
	display: block;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background-color: hsla(0,0%,0%,0.17);
	overflow: auto;
}
#select-country,
#popmsg,
#showaddadress {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background-color: hsla(0,0%,0%,0.17);
	overflow: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
}
#SignIn,
#SignUp {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background-color: hsla(0,0%,0%,0.17);
	overflow: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
}
/* #SignUp .window-con{
	top: calc(7vh + 386px );
} */
#SignUp .checkbox-checkmark {
    position: absolute;
    top: -1px;
    left: inherit;
	right: 8px;
    height: 12px;
    width: 12px;
    background-color: #eee;
	border-radius: 50%;
}
#SignUp .checkbox-container input:checked ~ .checkmark {
    background-color: hsla(0,0%,4%,1.00);
	border-color: hsla(0,0%,4%,1.00);
}
#SignUp .checkbox-container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.window-con{
	/*position: fixed;*/
	/* position: absolute; */
	/* transform: translate(-50%,-50%); */
	/* top: calc(15vh + 175px ); */
	/* left: 50%; */
	position: relative;
	width: 450px;
	height: auto;
	padding: 30px 40px 40px 40px;
	background-color: hsla(0,0%,100%,1.00);
	z-index: 999;
	margin:auto;
}

.poputwindow-bn{
	width:100%;
	display: flex;
	justify-content: center;
}

.window-block .title{
	margin-bottom: 10px;
}

.close-window{
	position: absolute;
	width: 35px;
	height: 35px;
	top: 0px;
	right: 0px;
}

.close-window-icon:before{
	font-size: 25px;
	cursor: pointer;
}
.window-center-word{
	text-align: center;
}
.window-word-break{
	padding-bottom: 15px;
}
.login-bn {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    color: #fff!important;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
	width: 100%;
	background-color: hsla(0,0%,4%,1.00);
	text-align: center;
}
.login-bn:hover {
    background-color: hsla(0,0%,60%,1.00);
}
.popupu-bn-con{
	padding-top: 18px;
}
.padding-top{
	padding-top: 15px;
}
.padding-bottom{
	padding-bottom: 10px;
}
.icon-size{
	height: 18px;
}

.little-bn{
	position: relative;
	width: 180px;
	margin: auto;
	display: flex;
	justify-content: center;
	cursor: pointer;
}
.forget-bn{
	cursor: pointer;
}
.icon-next:after {
    font-size: 18px;
}
.icon-next-con{
	position: relative;
	float: right;
	width: 18px;
	height: 18px;
}

input[type=text], select {
    width: 100%;
    padding: 5px 10px;
    margin: 6px 0;
}
.custom-select.inputsy {
    position: relative;
    font-family: 'Noto Sans TC', 'Han-Sans-m', sans-serif;
    font-size: 13px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.separation-line{
	width: 40%;
	height: 1px;
	background-color: hsla(0,0%,60%,1.00);
}
.separation-line-con{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.Edm-book{
	display: flex;
	align-items: center;
	height: 30px;
	justify-content: center;
}
.Edm-book .checkbox-item{
	padding-left: 0px;
}

#select-country .window-con{
	width: 700px;
	padding-bottom: 20px;
}
.area-con{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 10px;
}
.country-con{
	width: 33.333%;
	padding: 25px;
	padding-left: 40px;
	padding-right: 40px;
}

.lang-sect{
	padding-top: 5px;
}
.lang-sect .flex-line{
	display: flex;
	justify-content: space-between;
}
.area-name{
	padding-bottom: 2px;
}
.lang-sect .lang-sect-con{
	border-top: 1px solid  hsla(0,0%,60%,1.00);
	padding-top: 3px;
	flex-direction: column;
}
.select-item:hover{
	color:  hsla(0,0%,60%,1.00);
}
.area-name .country{
	font-size: 16px;
	font-weight: 700;
}
.lang-sect .country-money{
	font-size: 13px;
	padding-top: 6px;
}
.lang-sect .lang-sect-con .font-s{
	font-size: 14px;
	line-height: 26px;
}
.select-country-title{
	text-align: center;
}

@media(max-width:800px){
	#select-country .window-con{
		width: calc(90% - 80px);
	}
	/* .window-con{
		position: absolute;
		transform: translate(-50%,0%);
		top: 100px;
	} */
	#SignUp .window-con {
		top: calc(7vh + 1px );
	}
	
}


@media(max-width:990px){
	
	.background-black{
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 10;
		background-color: hsla(0,0%,0%,0.17);
	}
	.window-con{
		/* position: absolute; */
		/*position: fixed;*/
		/* transform: translate(-50%,0%); */
		/*top: 100px;*/
		/* top: calc(15vh); */
		/* left: 50%; */
		width: 75%;
		padding: 20px 20px 55px 20px;
		background-color: hsla(0,0%,100%,1.00);
	}

}

@media(max-width:600px){
	
	#select-country  .window-con{
		position: absolute;
		transform: translate(-50%,0%);
		top: 80px;
		left: 50%;
		width: calc(95% - 40px);
		padding: 20px 20px 25px 20px;
		background-color: hsla(0,0%,100%,1.00);
	}
	.country-con {
		width: 100%;
		padding: 5px;
		padding-left: 0px;
		padding-right: 0px;
		display: flex;
		border-bottom: 1px solid hsla(0,0%,60%,1.00);
		align-items: center;
	}
	.lang-sect {
		padding-top: 0px;
	}
	.contry-img{
		width: 35px;
		padding-right: 10px;
	}
	.lang-sect{
		width: calc(100% - 0px);
		padding-left: 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 54px;
	}
	.area-name {
		flex-direction: column;
	}
	.lang-sect .lang-sect-con {
		border-top: 0px solid hsla(0,0%,60%,1.00);
		padding-top: 0px;
		flex-direction: row;
	}
	.lang-sect-con div{
		padding-left: 7px;
		padding-right: 7px;
	}


}