<!-start->

<!-start->



<!-m0->

<!-m0->



<!-list->

		<section id="top-mid">

			<div class="top-mid-con rema-col">

				<div class="top-img bgimg rema-col" style="background-image: url('{#src#}');"></div>  

				<div class="top-word rema-col">

					<div class="top-word-con">   

						<div class="font-xl font-w-m">{#title#}</div>

						<div class="font-s">{#memo#}</div>

						<div class="bn-con bn-align-left mobile-bn-center">

							<a href="{#url#}" class="bn ">立即選購</a>

						</div>

					</div>

				</div>

			</div>

		</section>

<!-list->



<!-text->

		<section id="side-part-left">	<!-- 這個section 使用者自可以上傳圖片、文字-->

			<div class="side-part rema-col">

				<div class="side-part-con">

					<div class="side-part-img left bgimg side-img1 rema-col l8 s11" style="background-image: url('{#src#}');"></div>

					<div class="side-part-word right rema-col l4 s12">

						<div class="side-part-word-con">

							<div class="font-xl font-w-m">{#title#}</div>   <!--文字部分做選項，font-xs~xxxxxl(文字大小的部分)，font-w-s~l(文字粗細)-->

							<div class="font-s">{#memo#}</div>

							<div class="bn-con">

								<a href="{#url#}" class="bn">立即選購</a>	<!--使用者自行輸入連結-->

							</div>

						</div>

					</div>

				</div>

			</div>

		</section>

<!-text->



<!-menu->



		<section id="side-part-right">	<!-- 這個section 使用者自可以上傳圖片、文字-->

			<div class="side-part rema-col">

				<div class="side-part-con">

					<div class="side-part-img side-img2 bgimg right rema-col l8 s11"  style="background-image: url('{#src#}');"></div>

					<div class="side-part-word left rema-col l4 s12">

						<div class="side-part-word-con">

							<div class="font-xl font-w-m">{#title#}</div>   <!--文字部分做選項，font-xs~xxxxxl(文字大小的部分)，font-w-s~l(文字粗細)-->

							<div class="font-s">{#memo#}</div>

							<div class="bn-con">

								<a href="{#url#}" class="bn">立即選購</a>	<!--使用者自行輸入連結-->

							</div>

						</div>

					</div>

				</div>

			</div>

		</section>

<!-menu->



<!-m1->

<!-m1->



<!-end->

<!-end->