<!-start->
					<div class="mobile-line category pc-disable" style="{#show#}"><a class="memberbn font-w-m">登入 / 註冊</a></div>
<!-start-> 
<!-menu->

					<div class="{#menuclass#}-nav dropdown-nav mobile-line">
						<a href="{#menuurl#}" target="{#target#}" class="category font-w-m mobile-disable" style="{#active#}">{#menu#}</a>
						<div class="dropdown dropdown-{#menuclass#} {#submenuclass#}">
							<div class="dropdown-con">
								
			                        {#coltypemenu#}
			                        {#smenustr#}
							</div>
						</div>
					</div>
<!-menu->

<!-m1->
					<div class="mobile-line category font-w-m"><a href="{#menuurl#}" target="{#target#}" style="{#active#}">{#menu#}</a></div>
<!-m1->

<!-list->
								<div class="mobile-series series mobile-line series-dropdown">
									<a href="{#menuurl#}" target="{#target#}" class="title " style="{#active#}">{#menu#}</a>
								</div>
<!-list->

<!-m0->

								<div class="mobile-series series mobile-line series-dropdown">
									<div class="mobile-top-small mobile-disable"><a><span class="mobile-item-icon icon icon-plus"></span></a></div>
									<a href="{#menuurl#}" target="{#target#}" class="title font-w-m mobile-disable" style="{#active#}">{#menu#}</a>
									<div class="item-con">
										{#subcoltypemenu#}
									</div>
								</div>
<!-m0->

<!-end->
<!-end->
