@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?94th4p');
  src:  url('fonts/icomoon.eot?94th4p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?94th4p') format('truetype'),
    url('fonts/icomoon.woff?94th4p') format('woff'),
    url('fonts/icomoon.svg?94th4p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-bag:before {
  content: "\e902";
}
.icon-fb:before {
  content: "\e903";
}
.icon-user:before {
  content: "\e904";
}
.icon-cross:before {
  content: "\e905";
}
.icon-circle-o:before {
  content: "\e906";
}
.icon-dot-circle-o:before {
  content: "\e907";
}
.icon-square-o:before {
  content: "\e908";
}
.icon-check-square-o:before {
  content: "\e909";
}
.icon-arrow-left2:before {
  content: "\e90a";
}
.icon-arrow-right2:before {
  content: "\e90d";
}
.icon-file-text:before {
  content: "\e91d";
}
.icon-man:before {
  content: "\e90b";
}
.icon-woman:before {
  content: "\e90c";
}
.icon-store:before {
  content: "\e90e";
}
.icon-arrow-up:before {
  content: "\e90f";
}
.icon-arrow-down:before {
  content: "\e910";
}
.icon-check:before {
  content: "\e911";
}

