<!-start->
<link type="text/css" rel="stylesheet" href="{#RP#}base/files/Brusco/WebComponents/Members.css"/>
<link type="text/css" rel="stylesheet" href="{#RP#}base/files/Brusco/WebComponents/Member_OrderList.css"/>
<link type="text/css" rel="stylesheet" href="{#MYCSS#}order.css"/>
<script type="text/javascript" src="{#RP#}base/files/Brusco/WebComponents/FancyBox/jquery.mousewheel-3.0.4.pack.js"></script>
<script type="text/javascript" src="{#RP#}base/files/Brusco/WebComponents/FancyBox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="{#RP#}base/files/Brusco/WebComponents/FancyBox/jquery.fancybox-1.3.4.css" media="screen"/>
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery(".fancybox").fancybox({
		padding : 0,
		openEffect : 'none',
		closeEffect : 'none',
		helpers : { overlay : { css : { 'background' : 'rgba(250, 250, 250, 0.7)' }}}
	});
});
</script>
<script language="javascript" src="{#CP#}js/orderdetail.js"></script>

<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom" class="b_bg" block_type="bg">
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk1_custom" class="b_bg" block_type="bg">
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk1_custom_blk1_custom" class="b_literal" block_type="literal">
<a href="{#RP#}member/index.php">&nbsp;</a>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk1_custom_blk2_custom" class="b_literal" block_type="literal">
<a href="{#RP#}shop/cart.php">&nbsp;</a>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk1_custom_blk3_custom" class="b_literal" block_type="literal">
<a href="{#RP#}shop/order.php">&nbsp;</a>
</div>
</div>

<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom" class="b_bg" block_type="bg">
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk1_custom" class="b_literal" block_type="literal">
<img src="{#RP#}base/files/Brusco/Members/Order/OrderTracking_300dpi_63x15.png" Alt="Brusco,銳鎷,Order Tracking,訂單查詢,"/>
</div>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk3_custom" class="b_bg" block_type="bg">
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk3_custom_blk1_custom" class="b_literal" block_type="literal">
<img src="{#RP#}base/files/Brusco/Members/Order/90Days_Description_340x13.png" Alt="Brusco,銳鎷,Order Tracking,訂單查詢,"/>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk3_custom_blk2_custom" class="b_html" block_type="html">
<table style="border-color: #b3b3b3; border-width: 1px; width: 692px;" border="0" rules="all" align="center">
<tbody>
<tr style="background-color: #cccccc;" align="center" valign="middle">
<td style="width: 113px;"><img src="{#RP#}base/files/Brusco/Members/Order/TableTitle_OrderDay_57x14.png" alt="Brusco,銳鎷,Order Tracking,訂單查詢," /></td>
<td style="width: 125px;"><img src="{#RP#}base/files/Brusco/Members/Order/TableTitle_OrderNumber_59x14.png" alt="Brusco,銳鎷,Order Tracking,訂單查詢," /></td>
<td style="width: 132px;"><img src="{#RP#}base/files/Brusco/Members/Order/TableTitle_OrderPayment_59x14.png" alt="Brusco,銳鎷,Order Tracking,訂單查詢," /></td>
<td style="width: 125px;"><img src="{#RP#}base/files/Brusco/Members/Order/TableTitle_OrderProcess_59x14.png" alt="Brusco,銳鎷,Order Tracking,訂單查詢," /></td>
<td style="width: 101px;"><img src="{#RP#}base/files/Brusco/Members/Order/TableTitle_OrderCencel_59x14.png" alt="Brusco,銳鎷,Order Tracking,訂單查詢," /></td>
<td><img src="{#RP#}base/files/Brusco/Members/Order/TableTitle_OrderAmount_58x14.png" alt="Brusco,銳鎷,Order Tracking,訂單查詢," /></td>
</tr>
<tr align="center" valign="middle">
<td>{#dtime#}</td>
<td><a>{#OrderNo#}</a></td>
<td><img src="{#paypic#}" alt="Brusco,銳鎷,Order Tracking,訂單查詢," /></td>
<td><img src="{#statupic#}" alt="Brusco,銳鎷,Order Tracking,訂單查詢," /></td>
<td><a class="fancybox" href="#Attention_{#orderid#}" {#showtui#}><img src="{#RP#}base/files/Brusco/Members/Order/TableOrderCancel_58x14.png" alt="Brusco,銳鎷,Order Tracking,訂單查詢," /></a></td>
<td>{#paytotal#}</td>
</tr>
<div id="Attention_{#orderid#}" class="Attention" style="width:578px;height:313px;background:url('{#RP#}base/files/Brusco/Members/Order/Attention_578x313.png') no-repeat;">
<a href="javascript:;" id="delcancel" onclick="$.fancybox.close();" style="display:block;width:140px;height:32px;position:absolute;top:201px;left:146px;"></a>
<a href="javascript:;" id="delchk_{#orderid#}" class="delchk" style="display:block;width:140px;height:32px;position:absolute;top:201px;left:294px;"></a>
</div>
<!--NEW-->
</tbody>
</table>
</div>

<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk3_custom_blk3_custom_title" class="b_bg" block_type="bg">
<img src="{#MYIMAGES#}orderdetail_r1_c5.png" />
</div>

<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk3_custom_blk2_custom" class="b_html" block_type="html">
<table style="border-color: #b3b3b3; border-width: 1px; width: 692px;" border="0" rules="all" align="center">
<tbody>
<tr style="background-color: #cccccc;" align="center" valign="middle">
<td style="width: 232px;"><img src="{#MYIMAGES#}orderdetail_r3_c1.png" alt="Brusco,銳鎷,Order Tracking,訂單查詢," /></td>
<td style="width: 60px;"><img src="{#MYIMAGES#}orderdetail_r3_c3.png" alt="Brusco,銳鎷,Order Tracking,訂單查詢," /></td>
<td style="width: 60px;"><img src="{#MYIMAGES#}orderdetail_r3_c5.png" alt="Brusco,銳鎷,Order Tracking,訂單查詢," /></td>
<td style="width: 60px;"><img src="{#MYIMAGES#}orderdetail_r3_c7.png" alt="Brusco,銳鎷,Order Tracking,訂單查詢," /></td>
<td style="width: 60px;"><img src="{#MYIMAGES#}orderdetail_r3_c11.png" alt="Brusco,銳鎷,Order Tracking,訂單查詢," /></td>
<td style="width: 130px;"><img src="{#MYIMAGES#}orderdetail_r3_c15.png" alt="Brusco,銳鎷,Order Tracking,訂單查詢," /></td>
<td><img src="{#MYIMAGES#}orderdetail_r3_c18.png" alt="Brusco,銳鎷,Order Tracking,訂單查詢," /></td>
</tr>

<!-start->  
<!-list->
<tr style="background-color: #f2f2f2;" align="center" valign="middle">
<td style="width: 232px;font-family: Microsoft JhengHei;">{#goods#}</td>
<td style="width: 60px;">{#size#}</td>
<td style="width: 60px;">{#coloricon#}</td>
<td style="width: 60px;">{#price#}</td>
<td style="width: 60px;">{#nums#}</td>
<td style="width: 130px;">{#note#}</td>
<td>{#jine#}</td>
</tr>
<!-list->
<!-end-> 
</tbody>
</table>
</div>

<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk3_custom_blk3_custom_bottom" class="b_bg" block_type="bg">
<div id="paytotal" class="b_literal" block_type="literal">
<p>{#paytotal#}</p>
</div>
<div id="yunprice" class="b_literal" block_type="literal">
<p>{#yunfei#}</p>
</div>

</div>
<!--
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk3_custom_blk3_custom" class="b_bg" block_type="bg">
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk3_custom_blk3_custom_blk1_custom" class="b_literal" block_type="literal">
<p>{#totalnums#}</p>
</div>
</div>
-->
</div>
</div>
<!-end->

<!-err1->
<link href="css/shoporderdetail.css" rel="stylesheet" type="text/css" />
<div class="ordererr">{#ntc#}</div>
<!-err1->

