	<section id="SignIn">
        <div class="background-black" style="display: none;">
        </div>
            <div class="window-con">
                <div class="window-block">
                    <div class="close-window ">
                        <div class="icon icon-close close-window-icon"></div>
                    </div>
                    <div class="logo header-icon icon-con">
                        <a href="{#RP#}"><span class="icon icon-logo"></span></a>
                    </div>
                    <div class="window-center-word window-word-break font-w-l">忘記了密碼？</div>
                    <div class="padding-bottom font-s">如果您忘記了會員登入密碼，請提供您註冊的電子信箱地址，我們將會寄給您一封電子郵件，提示您如何恢復密碼。</div>
                    <div>
                         <form action="" method="post" id="ForgotForm">
                            <input class="inputsy" type="email" id="username" name="username" placeholder="電子信箱">
                            <div class="popupu-bn-con poputwindow-bn">
                                <button class="login-bn new-connection-bn">確定</button>
                            </div>
                            <input name="act" type="hidden" id="act" value="forgotpass" />
                        </form>
                    </div>
                </div>
            </div>
    </section>