<!-start->
					<div class="account-block rema-col f15 s12">
						<div class="account-mobile">
							<div class="account-item-list rema-col">
								<div class="mobile-account-item-list rema-col xs6">
									<div class="rema-col l1 xs12 font-s">日期</div>
									<div class="rema-col l1 xs12 font-s">原因</div>
									<div class="rema-col l2 xs12 font-s">訂單編號</div>
									<div class="rema-col l2 xs12 font-s">退款金額</div>
									<div class="rema-col l2 xs12 font-s">刷退金額</div>
									<div class="rema-col l2 xs12 font-s">使用金額</div>
									<div class="rema-col l2 xs12 font-s">帳戶現況</div>
								</div>
							</div>
<!-start->  
<!-list->
							<div class="mobile-account-item">
								<div class="mobile-account-item-list-block">
								</div>
								<div class="account-item rema-col xs6">
									<div class="rema-col l1 xs12 font-s">{#addtime#}</div>
									<div class="rema-col l1 xs12 font-s">{#type--#} {#method#}</div>
									<div class="rema-col l2 xs12 font-s">{#OrderNo#}</div>
									<div class="rema-col l2 xs12 font-s">{#oof_A#}</div>
									<div class="rema-col l2 xs12 font-s">{#oof_B#}</div>
									<div class="rema-col l2 xs12 font-s">{#oof_C#}</div>
									<div class="rema-col l2 xs12 font-s fin-surplus">{#account#}</div>
								</div>
							</div>
<!-list->
<!-end-> 

							<!--div class="item-page" style="clear:both;padding-top: 2rem;" >
								<ul class="pagination pagination_type1 pagination_type3">
									{#showpages#}
						        </ul>
							</div-->
						</div>
					</div>
					<div class="sticky-height rema-col f4 s12">
						<div class="moneyback-block sticky">
							<div class="surplus- mobile-left">
								<div class="cellphone-con">
									<div class="fin-surplus-title">帳戶結餘</div>
									<div class="fin-surplus-show-" style="font-weight: 600;">NT$ {#account#}</div>
								</div>
							</div>
							<div class="mobile-right">
								<div class="moneyback-word">帳戶餘額可「申請退款」退至您的銀行或郵局帳戶</div>
								<div class="buy-bn-con">
									<a >
										<button class="refund-bn shop-bn">
											申請退款
										</button>
									</a>
								</div>
							</div>
						</div> 
					</div>
<!-end->

