<script type="text/javascript" src="{#CP#}js/welcome.js"></script>
<div style="font:12px/14px 'SimSun',Arial,Sans-Serif;color:#d8d8d8;float:left;">
您好！欢迎光临{#sitename#}&nbsp;
</div>
<div id="loginorreg" style="color:#d8d8d8;display:none;">
<span><a href="{#RP#}member/login.php" style="font:12px/14px 'SimSun',Arial,Sans-Serif;color:#d8d8d8">[请登录]</a></span>，新用户？<span><a href="{#RP#}member/reg.php" style="font:12px/14px 'SimSun',Arial,Sans-Serif;color:#d8d8d8">[免费注册]</a></span>
</div>
<div id="islogin" style="color:#d8d8d8;display:none;">
<span><a href="{#RP#}member" style="font:12px/14px 'SimSun',Arial,Sans-Serif;color:#d8d8d8">[进入会员中心]</a></span><span><a href="{#RP#}logout.php" style="font:12px/14px 'SimSun',Arial,Sans-Serif;color:#d8d8d8"> [退出登录]</a></span>
</div>