<script src="{#CP#}js/login.js"></script>
			<div class="product-main-con  rema-col f20 s12 " style="width: 100vw; display: flex; justify-content: center;">
				<div class=" rema-col f6 s12 xs12 font-l font-w-l"> 
					<div class="product-list-title list-title-first">登入會員</div>
					<form action="" method="post" id="memberLogin" class="edm-block">
                        <input class="inputsy" type="email" name="muser" placeholder="電子信箱">
                        <input class="inputsy" type="password" name="mpass" placeholder="密碼">
                        <div class="padding-bottom font-s forget-bn"><a href="javascript:;" id="loss2">忘記了密碼？</a></div>
                        <div class="popupu-bn-con poputwindow-bn">
                            <button class="login-bn new-connection-bn">登入</button>
                        </div>
                        <!--
                        <div class="popupu-bn-con  poputwindow-bn">
                            <button class="login-bn new-connection-bn">用facebook登入</button>
                        </div>
                        -->
                        <input name="act" type="hidden" value="memberlogin">
                        <input type="hidden" name="from" value="{#REFERER#}">
                    </form>
					<div class="padding-top window-center-word font-s edm-block">
                        <a class="little-bn signupbn" id="zhuce2">
                            <div>立即註冊為Rema會員</div>
                            <div class="icon-next-con">
                                <div class="icon icon-next icon-size"></div>
                            </div>
                        </a>
                    </div>
				</div>
			</div>