<link type="text/css" rel="stylesheet" href="{#RP#}base/files/Brusco/WebComponents/Members.css"/>
<link type="text/css" rel="stylesheet" href="{#RP#}base/files/Brusco/WebComponents/MemberGratitude.css"/>
<script type="text/javascript" src="{#RP#}base/files/Brusco/WebComponents/BG_FullScr_Brusco_InnerPage950px.js"></script>

<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom" class="b_bg" block_type="bg">
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk1_custom" class="b_bg" block_type="bg">
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk1_custom_blk1_custom" class="b_literal" block_type="literal">
<a href="{#RP#}page/html/privacy.php">&nbsp;</a>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk1_custom_blk2_custom" class="b_literal" block_type="literal">
<a href="{#CP#}reg.php">&nbsp;</a>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk1_custom_blk3_custom" class="b_literal" block_type="literal">
<a href="{#RP#}member/login.php">&nbsp;</a>
</div>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom" class="b_bg" block_type="bg"><div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk1_custom" class="b_literal" block_type="literal"><img src="{#RP#}base/files/Brusco/Members/Gratitude/Title_ThanksForRegister_300dpi_96x15.png" Alt="Brusco,銳鎷,Member Register,會員註冊,註冊成功,感謝註冊,感謝您的註冊,"/></div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom" class="b_bg" block_type="bg"><div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom_blk1_custom" class="b_literal" block_type="literal"><img src="{#RP#}base/files/Brusco/Members/Gratitude/SSL_Description_300dpi_308x13.png" Alt="Brusco,銳鎷,Member Register,會員註冊,註冊成功,感謝註冊,感謝您的註冊,恭賀登錄,SSL保全系統,"/></div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom_blk2_custom" class="b_literal" block_type="literal"><img src="{#RP#}base/files/Brusco/Members/Gratitude/Gratitude_300dpi_329x49.png" Alt="Brusco,銳鎷,Member Register,會員註冊,註冊成功,感謝註冊,感謝您的註冊,恭賀登錄,Gratitude,"/></div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom_blk3_custom" class="b_literal" block_type="literal"><img src="{#RP#}base/files/Brusco/Members/Gratitude/EmailDescription_300dpi_279x37.png" Alt="Brusco,銳鎷,Member Register,會員註冊,註冊成功,感謝註冊,感謝您的註冊,恭賀登錄信件,"/></div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom_blk4_custom" class="b_literal" block_type="literal"><a href="{#RP#}shop/order.php"><img src="{#RP#}base/files/Brusco/Members/Gratitude/ToMyAccount_Button_300dpi_130x32.png" Alt="Brusco,銳鎷,Member Register,會員註冊,註冊成功,感謝註冊,感謝您的註冊,"/></a></div>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk3_custom" class="b_literal" block_type="literal"><img src="{#RP#}base/files/Brusco/Members/CardImg_300dpi_250x370.png" Alt="Brusco,銳鎷,立即註冊,建立會員帳號,"/></div>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk3_custom" class="b_bg" block_type="bg"></div>
</div>
