<link type="text/css" rel="stylesheet" href="{#RP#}base/files/Brusco/WebComponents/Members.css"/>
<link type="text/css" rel="stylesheet" href="{#RP#}base/files/Brusco/WebComponents/MemberModifyConfirm.css"/>
<script type="text/javascript" src="{#RP#}base/files/Brusco/WebComponents/BG_FullScr_Brusco_InnerPage950px.js"></script>
<script language="javascript" src="{#CP#}js/memberset.js"></script>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom" class="b_bg" block_type="bg">
<div id="reg" >
<div  id="notice" class="noticediv"></div>
<form id="memberModify"  method="post" action="" name="regform" >
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk1_custom" class="b_bg" block_type="bg">
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk1_custom_blk1_custom" class="b_literal" block_type="literal">
<a href="Brusco_Member_Information_C.html">&nbsp;</a></div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk1_custom_blk2_custom" class="b_literal" block_type="literal">
<a href="Brusco_Member_Register_C.html">&nbsp;</a></div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk1_custom_blk3_custom" class="b_literal" block_type="literal">
<a href="Brusco_OrderList_C.html">&nbsp;</a></div>
</div>

<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom" class="b_bg" block_type="bg">
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk1_custom" class="b_literal" block_type="literal">
<img src="{#RP#}base/files/Brusco/Members/Information/Title_PersonalInfo_300dpi_128x15.png" Alt="Brusco,銳鎷,Member Information,會員個人資料,會員資料管理,"/>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom" class="b_bg" block_type="bg"
><div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom_blk1_custom" class="b_literal" block_type="literal">
<img src="{#RP#}base/files/Brusco/Members/ModifyConfirm/Description_300dpi_391x30.png" Alt="Brusco,銳鎷,Member Modify Confirm,會員個人資料修改確認,會員資料管理修改確認,"/>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom_blk2_custom" class="b_literal" block_type="literal">
<img src="{#RP#}base/files/Brusco/Members/Information/Text_PersonalInfo_300dpi_102x16.png" Alt="Brusco,銳鎷,Member Information,會員個人資料,會員資料管理,"/>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom_blk3_custom" class="b_literal" block_type="literal">
<p>{#email#}</p>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom_blk4_custom" class="b_literal" block_type="literal">
<p>{#name#}</p>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom_blk5_custom" class="b_literal" block_type="literal">
<p>{#gen#}</p>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom_blk6_custom" class="b_bg" block_type="bg">
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom_blk6_custom_blk1_custom" class="b_literal" block_type="literal">
<p>{#b_year#}</p>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom_blk6_custom_blk2_custom" class="b_literal" block_type="literal">
<p>{#b_mon#}</p>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom_blk6_custom_blk3_custom" class="b_literal" block_type="literal">
<p>{#b_day#}</p>
</div>
</div>

<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom_blk7_custom" class="b_literal" block_type="literal">
<p>{#postcode#}</p>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom_blk8_custom" class="b_literal" block_type="literal">
<p>{#addr#}</p>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom_blk9_custom" class="b_literal" block_type="literal">
<p>{#mov#}</p>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk2_custom_blk10_custom" class="b_literal" block_type="literal">
<p>{#tel#}</p>
</div>
</div>

<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk2_custom_blk3_custom" class="b_literal" block_type="literal">
<img src="{#RP#}base/files/Brusco/Members/CardImg_300dpi_250x370.png" Alt="Brusco,銳鎷,立即註冊,建立會員帳號,"/>
</div>
</div>

<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk3_custom" class="b_bg" block_type="bg">
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk3_custom_blk1_custom" class="b_literal" block_type="literal">
<img src="{#RP#}base/files/Brusco/Members/ModifyConfirm/ReturnDescription_300dpi_469x15.png" Alt="Brusco,銳鎷,Member Modify Confirm,會員個人資料修改確認,會員資料管理修改確認,"/>
</div>
<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk3_custom_blk2_custom" class="b_literal" block_type="literal">
<a href="javascript:history.back();">
<img src="{#RP#}base/files/Brusco/Members/RegisterConfirm/ReturnButton_126x31.png" Alt="Brusco,銳鎷,Member Information,會員個人資料修改確認,會員資料管理修改確認,"/>
</a>
</div>

<div id="rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1_custom_blk3_custom_blk1_custom_blk3_custom_blk3_custom" class="b_literal" block_type="literal">
<input type="image" src="{#RP#}base/files/Brusco/Members/ModifyConfirm/Button_Save_300dpi_127x31.png" style="cursor:pointer;border:0;" />
</div>
</div>
<input type="hidden" name="act" value="memberaccount" />
<input type="hidden" name="password" value="{#password#}" />
<input type="hidden" name="newpassword" value="{#newpassword#}" />
<input type="hidden" name="renewpass" value="{#renewpass#}" />
<input type="hidden" name="postcode" value="{#postcode#}" />
<input type="hidden" name="addr" value="{#addr#}" />
<input type="hidden" name="mov" value="{#mov#}" />
<input type="hidden" name="tel" value="{#tel#}" />
<input type="hidden" name="order_epaper" value="{#order_epaper#}" />
</form>
</div>
</div>