	<section id="SignIn">
        <div class="background-black" style="display: none;"></div>
            <div class="window-con">
                <div class="window-block">
                    <div class="close-window ">
                        <div class="icon icon-close close-window-icon"></div>
                    </div>
                    <div class="logo header-icon icon-con">
                        <a href="{#RP#}"><span class="icon icon-logo"></span></a>
                    </div>
                    <div class="window-center-word window-word-break font-w-l">登入會員</div>
                    <div>
                         <form action="" method="post" id="LoginForm">
                            <input class="inputsy" type="email" id="muser" name="muser" placeholder="電子信箱">
                            <input class="inputsy" type="password" id="mpass" name="mpass" placeholder="密碼">
                            <div class="padding-bottom font-s forget-bn" id="loss">忘記了密碼?</div>
                            <div class="popupu-bn-con poputwindow-bn">
                                <button class="login-bn new-connection-bn">登入</button>
                            </div>
                            <!--
                            <div class="popupu-bn-con  poputwindow-bn">
                                <button class="login-bn new-connection-bn">用facebook登入</button>
                            </div>
                            -->
                            <input name="act" type="hidden" id="act" value="memberlogin" />
                        </form>
                    </div>
                    <div class="padding-top window-center-word font-s">
                        <a class="little-bn signupbn zhuce">
                            <div>立即註冊為Rema會員</div>
                            <div class="icon-next-con">
                                <div class="icon icon-next icon-size"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    </section>