<!-start->
<form method="post" action="lostpass.php"  style="display:{#showpass#};">
                    <div class="row two-col member">
                        <div class="col-xs-12">
                            <p class="title">忘記了密碼？</p>
                            <ul class="info">
                                <li>如果您忘記了會員登入密碼，請提供您註冊的電子信箱地址，</li>
                                <li class="m-b-15">我們將會寄給您一封電子郵件，提示您如何恢復密碼。</li>
                                <li  class="m-b-5">電子信箱地址</li>
                                <li class="m-b-30"><input type="text" name="username" class="form-control" style="width:350px"></li>
                                <li><button type="submit" class="btn btn-black btn-lg" style="width:180px">確定</button></li>
                            </ul>
                        </div>
                    </div>
                    {#err#}
                    <input type="hidden" name="step" value="2" />
</form>
<!-start->

<!-m0->
                    <div class="row two-col member">
                        <div class="col-xs-12">
                            <p class="title">密碼重新設定</p>
                            <ul class="info">
                                <li>系統回覆訊息：</li>
                                <li class="m-b-30">{#err#}{#email#}</li>
                                <li><a href="{#CP#}login.php" class="btn btn-black btn-lg" style="width:180px">登入</a></li>
                            </ul>
                        </div>
                    </div>
<!-m0->

<!-end->
                    <div class="row two-col member">
                        <div class="col-xs-12">
                            <p class="title">申請已成功提交</p>
                            <ul class="info">
                                <li>已成功收到找回密碼的申請。 </li>
                                <li class="m-b-30">你很快就會收到一封電子郵件，請按照其提示操作。</li>
                                <li><a href="{#RP#}" class="btn btn-black btn-lg" style="width:180px">接受</a></li>
                            </ul>
                        </div>
                    </div>
<!-end->