@import url(https://fonts.googleapis.com/css?family=Roboto:300);.font{font-family:Roboto,Helvetica,Arial,"微軟正黑體",sans-serif}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}