<!-start->
<!-start->

<!-m0->
        <!-- list -->
          <div class="col-xs-4 fix-padding toggle-img">
          <div class="img-gap">
          <h3 class="i-title">{#subcat#}</h3>
            {#sublinkstr#}
            </div>
            <ul class="link">
              {#menu#}
            </ul>
          </div>
        <!-- / list -->
<!-m0->

<!-menu->
	<li><a href="{#slink#}"  target="{#target#}" class="{#man#}-a">{#scat#}</a></li>
<!-menu->

<!-list->
	<img src="{#src#}"  class="img-responsive {#man#}-img">
<!-list->

<!-end->
<!-end->


        <!-- list -->
          <div class="col-xs-4 fix-padding toggle-img">
          <div class="img-gap">
          <h3 class="i-title">單車系列</h3>
            <img src="{#TM#}img/index/Cycling_001.jpg"  class="img-responsive man-img">
            <img src="{#TM#}img/index/Cycling_001-2.jpg"  class="img-responsive woman-img">
            </div>
            <ul class="link">
              <li><a href="product-list.htm" class="man-a">男子</a></li>
              <li><a href="product-list.htm" class="woman-a">女子</a></li>
            </ul>
          </div>
        <!-- / list -->