<!-start->

<!-start->

<!-list->

			<div class="hero-banner">

				<div class="hero-img  bgimg rema-col l12 " style="background-image: url({#src#});"></div>

				<div class="hero-word hero-word-left">     <!--hero-word-left，hero-word-center 兩種選擇 要讓文字至左還是置中-->

					<div class="hero-word-con-align-left white-word">    <!--white-word 讓方塊中的文字變成白色(視底圖文字可能要黑白轉換)-->

						<div class="title font-m-xl font-xxxxl  font-w-m">{#title#}</div>    <!--文字部分做選項，font-xs~xxxxxl(文字大小的部分)，font-w-s~l(文字粗細)-->

						<div class="word  font-l">{#subtitle#}</div>

						<div class="bn-con bn-align-left"><a href="{#link#}" target="{#target#}" class="bn white-word">Read More</a></div>  <!--white-word 讓按鈕的文字變成白色(視底圖按鈕可能要黑白轉換)-->  <!--bn-align-left，bn-align-center按鈕在方塊內的位置-->   <!--使用者自行輸入連結-->

					</div>

				</div>

			</div>

<!-list->



<!-text->

			<div class="hero-banner" style="cursor: pointer;" onclick="javascript:window.open('{#link#}');">

				<div class="hero-img  bgimg rema-col l12 " style="background-image: url({#src#});"></div>

				<div class="hero-word hero-word-left">     <!--hero-word-left，hero-word-center 兩種選擇 要讓文字至左還是置中-->

					<div class="hero-word-con-align-left white-word">    <!--white-word 讓方塊中的文字變成白色(視底圖文字可能要黑白轉換)-->

						<div class="title font-m-xl font-xxxxl  font-w-m">{#title#}</div>    <!--文字部分做選項，font-xs~xxxxxl(文字大小的部分)，font-w-s~l(文字粗細)-->

						<div class="word  font-l">{#subtitle#}</div>

					</div>

				</div>

			</div>

<!-text->



<!-menu->

<!-menu->

<!-end->

<!-end->