<!-start->

<!-start->

<!-list->

			<div class="hero-banner">

				<div class="hero-img  bgimg rema-col l12 " style="background-image: url({#src#});">
					<video src="{#src#}" playsinline="" loop="" muted="" autoplay=""></video>
				</div>

				<div class="hero-word hero-word-left">     <!--hero-word-left，hero-word-center 兩種選擇 要讓文字至左還是置中-->

					<div class="hero-word-con-align-left white-word">    <!--white-word 讓方塊中的文字變成白色(視底圖文字可能要黑白轉換)-->

						<div class="title font-m-xl font-xxxxl  font-w-m">{#title#}</div>    <!--文字部分做選項，font-xs~xxxxxl(文字大小的部分)，font-w-s~l(文字粗細)-->

						<div class="word font-ll">{#subtitle#}</div>

						<div class="bn-con bn-align-left"><a href="{#link#}" target="{#target#}" class="bn white-word">了解更多</a></div>  <!--white-word 讓按鈕的文字變成白色(視底圖按鈕可能要黑白轉換)-->  <!--bn-align-left，bn-align-center按鈕在方塊內的位置-->   <!--使用者自行輸入連結-->

					</div>

				</div>

			</div>

<!-list->


<!-m0->

			<div class="hero-banner">

				<div class="hero-img  bgimg rema-col l12 " style="background-image: url({#src#});"></div>

				<div class="hero-word hero-word-left">     <!--hero-word-left，hero-word-center 兩種選擇 要讓文字至左還是置中-->

					<div class="hero-word-con-align-left white-word">    <!--white-word 讓方塊中的文字變成白色(視底圖文字可能要黑白轉換)-->

						<div class="title font-m-xl font-xxxxl  font-w-m">{#title#}</div>    <!--文字部分做選項，font-xs~xxxxxl(文字大小的部分)，font-w-s~l(文字粗細)-->

						<div class="word  font-l">{#subtitle#}</div>

					</div>

				</div>

			</div>

<!-m0->

<!-text->

			<div class="hero-banner" style="cursor: pointer;" onclick="javascript:window.open('{#link#}');">

				<div class="hero-img  bgimg rema-col l12 " style="background-image: url({#src#});"></div>

				<div class="hero-word hero-word-left">     <!--hero-word-left，hero-word-center 兩種選擇 要讓文字至左還是置中-->

					<div class="hero-word-con-align-left white-word">    <!--white-word 讓方塊中的文字變成白色(視底圖文字可能要黑白轉換)-->

						<div class="title font-m-xl font-xxxxl  font-w-m">{#title#}</div>    <!--文字部分做選項，font-xs~xxxxxl(文字大小的部分)，font-w-s~l(文字粗細)-->

						<div class="word  font-l">{#subtitle#}</div>

					</div>

				</div>

			</div>

<!-text->



<!-m1->

			<div class="hero-banner">

				<div class="hero-img rema-col l12 " style="overflow:hidden"><iframe id="video-iframe" allow="autoplay; encrypted-media" src="{#link#}" frameborder="0" allowfullscreen="" style="float: left;width: 100%;height: 105vh;transform: scale(1.1);position: relative;z-index:-1;"></iframe></div>

				<div class="hero-word hero-word-left">     <!--hero-word-left，hero-word-center 兩種選擇 要讓文字至左還是置中-->

					<div class="hero-word-con-align-left white-word">    <!--white-word 讓方塊中的文字變成白色(視底圖文字可能要黑白轉換)-->

						<div class="title font-m-xl font-xxxxl  font-w-m">{#title#}</div>    <!--文字部分做選項，font-xs~xxxxxl(文字大小的部分)，font-w-s~l(文字粗細)-->

						<div class="word  font-l">{#subtitle#}</div>

						<div class="bn-con bn-align-left"><a href="{#link#}" target="{#target#}" class="bn white-word">了解更多</a></div>  <!--white-word 讓按鈕的文字變成白色(視底圖按鈕可能要黑白轉換)-->  <!--bn-align-left，bn-align-center按鈕在方塊內的位置-->   <!--使用者自行輸入連結-->

					</div>

				</div>

			</div>

<!-m1->



<!-menu->

<!-menu->

<!-end->

<!-end->