<!-start->
                    <p class="myact-headnote">請選擇你想要退貨的訂單。如有任何問題，請與我們的客戶服務中心聯絡。</p>
                    <!-- section -->
                    <div class="row  fix-padding15 style-toggle">
                       
<!-start->  
<!-list->
						<div class="myact-sord-all myact-sord-all22">
                        	<span>{#OrderNo#}</span>
                            <p>
                            	{#dtime#} &nbsp;&nbsp;&nbsp;&nbsp;{#pricesymbol#} {#paytotal#}<br>
                            	狀態 {#status#}
                            </p>
                        	<a href="ordertuidetail.php?orderid={#orderid#}" {#showtui#}>申請退貨</a>
                        </div>
<!-list->

<!-m0->
                    <!-- section -->
                    <p class="myact-headnote">我們會請快遞到府收取您的退貨。<br>※請務必確認好以下須知後進行退貨</p>
                    <hr>
                    <!--END  section -->
                    <div class="fix-padding15 myact-lipadding">
                    	<ul class="list-num">
                    		<li>吊牌與包裝盒必須完整、吊牌勿剪。</li>
                    		<li>產品沒有使用與洗滌過。</li>
                    		<li> 若收到貨品時有紙箱包裝，快遞取件時請將產品放入〝原紙箱包裝〞，請勿將單一產品交給快遞，會造成產品原包裝損壞。</li>
                    		<li>若收到貨品時為快遞袋包裝，取件時請將產品依原快遞袋包裝封口，若原快遞袋已破損，請向取件人員索取快遞包裝袋，請勿將單一產品交給快遞，會造成產品損壞。</li>
                    		<li>如未依照規定寄回造成產品損壞，將會依損壞程度請求賠償。</li>
                    	</ul>
                    </div>
                    <div class="clearfix m-b-20"></div>
                    <li class="blk-btn">
                    	<a href="{#CP#}ordertui.php?act=list" class="btn btn-black btn-lg pull-left" style="width:150px">確定申請退貨</a>
                    </li>
<!-m0->

<!-end->
                    </div>
                    <!-- /section -->
                    <div class="clearfix"></div>
<!-end->