<!-start->
                    <p class="myact-headnote">Please select the order you want to return. If you have any questions, please contact our Customer Service Center.</p>
                    <!-- section -->
                    <div class="row  fix-padding15 style-toggle">
                       
<!-start->  
<!-list->
						<div class="myact-sord-all myact-sord-all22">
                        	<span>{#OrderNo#}</span>
                            <p>
                            	{#dtime#} &nbsp;&nbsp;&nbsp;&nbsp;{#pricesymbol#} {#paytotal#}<br>
                            	Status: {#status#}
                            </p>
                        	<a href="ordertuidetail.php?orderid={#orderid#}" {#showtui#}>Apply for return</a>
                        </div>
<!-list->

<!-m0->
                    <!-- section -->
                    <p class="myact-headnote">We will have express delivery pick-up your return of goods from your home.<br>※ Please ensure the following in order to proceed with the return of goods.</p>
                    <hr>
                    <!--END  section -->
                    <div class="fix-padding15 myact-lipadding">
                    	<ul class="list-num">
                    		<li>Labels and packaging must be intact, do not cut off labels.</li>
                    		<li>Product has not been used or washed.</li>
                    		<li>If there is a carton box when receiving the product, please place the product back into the ”original carton box” when the express delivery is picking up; do not hand the product alone to the express delivery, it will cause damage to the product’s original packaging.</li>
                    		<li>If the product was in an express delivery bag when you received it, please place the product back to the original express delivery bag and seal for the pick-up; if the original express delivery bag is already damaged, please ask the pick-up personnel for an express delivery bag, do not hand the product alone to the express delivery, it will cause damage to the product.</li>
                    		<li>Redemptions will be depending on the degree of damage if the product was damaged because you did not send it back according to the rules.</li>
                    	</ul>
                    </div>
                    <div class="clearfix m-b-20"></div>
                    <li class="blk-btn">
                    	<a href="{#CP#}ordertui.php?act=list" class="btn btn-black btn-lg pull-left">Confirm to apply for return of goods</a>
                    </li>
<!-m0->

<!-end->
                    </div>
                    <!-- /section -->
                    <div class="clearfix"></div>
<!-end->