<link href="css/papermember.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="{#CP#}js/papermember.js"></script>
<script language="javascript" src="{#CP#}js/multicat.js"></script>

<div  id="notice" class="noticediv"></div>
<form id="paperfabu" method="post" action="" enctype="multipart/form-data" name="form">
<table width="100%" border="0" cellspacing="1" cellpadding="2">
             
        <tr >
                        <td width="80" align="center" height="24">我的分類</td>
          <td height="22"  style="color:#666666">
                          <select  name="pcatid" >
					    <option value="0">請選擇分類</option>
							{#pcatlist#}
                          </select> &nbsp; <a href="paper_cat.php">添加自訂分類</a>            
						  </td>
          </tr>
               <tr >
                        <td width="80" align="center" height="24">電子報分類</td>
                        <td height="22"  style="color:#666666">
                          <select id="selcatid"  name="catid" >
						  <option value="0">只發佈到個人分類</option>
							{#catlist#}
                          </select>
                        </td>
          </tr>
   

                      <tr > 
                        <td width="80" align="center" height="24">電子報標題</td>
                        <td height="22"  style="color:#666666"> 
                          <input id="title" type="text" name="title"  class="input"  value="{#title#}" style="width:399px" /> 
                           <span style="color:#ff0000">*</span></td>
                      </tr>
  </table>
				<div id="proplist"></div>
				<table width="100%" border="0" cellspacing="1" cellpadding="2">
                      <tr >
                        <td width="80" align="center">內容摘要</td>
                        <td height="22" style="color:#666666"><textarea name="memo" style="WIDTH: 399px;font-size:12px;" class="textarea" rows="5"></textarea></td>
                      </tr>
                      <tr >
                        <td width="80" align="center">主題圖片</td>
                        <td height="22" style="color:#666666">
						<input type="file" name="jpg" class=input style='WIDTH: 399px;' /></td>
                      </tr>
                      <tr > 
                        <td width="80" align="center">電子報內容</td>
                        <td height="22" style="color:#666666"> 
                           <input type="hidden" name="body" value="{#body#}" />
						   <div id="kedit" style="position:relative">
			<script type="text/javascript" src="{#RP#}kedit/memberEditor.js"></script>
            <script type="text/javascript">
            var editor = new KindEditor("editor");
            editor.hiddenName = "body";
            editor.editorWidth = "560px";
            editor.editorHeight = "250px";
            editor.skinPath = "{#RP#}kedit/skins/default/";
			editor.uploadPath = "{#RP#}paper/upload.php";
			editor.imageAttachPath="paper/pics/";
            editor.iconPath = "{#RP#}kedit/icons/";
            editor.show();
            function KindSubmit() {
	          editor.data();
            }
             </script>
			 </div>
						   
                        </td>
                      </tr>
                      <tr >
                        <td width="80" align="center" >自定標籤</td>
                        <td  style="color:#666666" ><input name="tags[]" type="text" class="input" id="tags"  value="" size="9" />
                          <input name="tags[]" type="text" class="input" id="tags"  value="" size="10" />
                          <input name="tags[]" type="text" class="input" id="tags"  value="" size="10" />
                          <input name="tags[]" type="text" class="input" id="tags"  value="" size="10" />
                          <input name="tags[]" type="text" class="input" id="tags"  value="" size="10" /></td>
                      </tr>
					  
					  <tr> 
      <td height="30" width="80" align="center" >附件下載</td>
      <td height="30" valign=top> 
        
          <input id="divsuo" type="file" name="file" style='WIDTH: 399px;display:none' class="input" />
          <input id="divurl" type="text" name="fileurl" style='WIDTH: 399px;' value="http://" class="input" />
          <input type="radio" name="addtype" value="addurl" checked onClick="document.getElementById('divurl').style.display='inline';document.getElementById('divsuo').style.display='none';">
        連結網址
        <input type="radio" name="addtype" value="addfile" onClick="document.getElementById('divurl').style.display='none';document.getElementById('divsuo').style.display='inline';">
       上傳文件
      </td>
    </tr>
					  
                      <tr > 
                        <td width="80" align="center" >電子報作者</td>
                        <td  style="color:#666666" > 
                          <input id="author" type="text" name="author"  class="input"  value="{#pname#}" style="width:399px" />
                        </td>
                      </tr>
                      <tr > 
                        <td width="80" align="center" >電子報來源</td>
                        <td  style="color:#666666" > 
                          <input id="source"  type="text" name="source"  class="input"  value="" style="width:399px" />
                        </td>
                      </tr>
                      <tr >
                        <td align="center" >所屬專題</td>
                        <td  style="color:#666666" >
						<table cellspacing=0 cellpadding=0><tr><td >
						<select style="WIDTH: 239px;" multiple size="5" name="spe_funct">
						{#musellist#}
						</select></td><td width=20>
						<input class="button" onClick="JavaScript:AddItem('spe_funct', 'spe_selec[]')" type="button" value="添加" name="Input">
						<input class="button" onClick="JavaScript:DelItem('spe_selec[]')" type="button" value="刪除" name="Input">
				</td>
				<td>
				  <select  style="WIDTH: 239px" multiple size="5" name="spe_selec[]">
				  </select>
				  </td></tr></table>
				  
						</td>
                      </tr>
                      <tr > 
                        <td width="80" align="center" >&nbsp;</td>
                        <td  style="color:#666666" > 
           				<input type="submit" name="Submit2" onClick="KindSubmit();" value="送出" class="submit" />
						<input type="hidden" name="act" value="paperfabu" />
						 <input type="hidden" id="nowid" name="id" value="" />
            </td>
                      </tr>
  </table>

</form>
<script>
$(function(){
$().getPropList();
});
</script>