<!-start->
<link href="css/paperquery_cap.css" rel="stylesheet" type="text/css" />
<div id="paperquery">
<ul>
<li class="cap">
	<div class="title">電子報標題</div>
	<div class="time">發佈時間</div>

</li>
</ul>
<ul id="queryul">

<!-start->


<!-list-> 
<li class="title">
	<div class="title"><a href="{#link#}" target="{#target#}" {#bold#} {#red#} >{#title#}</a></div>
	<div class="time">{#dtime#}</div>

</li>
<!-list->
<!-end->
</ul>
</div>

<div id="showpages">
	  <div id="pagesinfo">共{#totalnums#}條 每頁{#pagesshownum#}條 頁次：{#pagesnow#}/{#pagestotal#}</div>
	  <div id="pages">{#showpages#}</div>
</div>

<!-end->