<!doctype html>

<html>

<head>

<meta charset="utf-8">

<title>{#pagetitle#} {#sitename#}</title>

    <meta name="description" content="{#metacon#}">

    <meta name="Keywords" content="{#metakey#}">

	{#metaimage#}

	{#addmeta#}

	{#addscript#}

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{#TM#}css/owl.carousel.css">

    <link rel="stylesheet" href="{#TM#}css/owl.theme.default.css">

	<link rel="stylesheet" href="{#TM#}css/HeaderAndFoot.css?6">

	<link rel="stylesheet" href="{#TM#}css/InputStyle.css">

	<link rel="stylesheet" href="{#TM#}css/PopupWindow.css?4">

	<link rel="stylesheet" href="{#TM#}css/Home.css?1">

	<link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
	<link type="text/css" rel="stylesheet" href="{#TM#}20240425/css/header.css" />
    <link type="text/css" rel="stylesheet" href="{#TM#}20240425/css/footer.css" />
    <link type="text/css" rel="stylesheet" href="{#TM#}20240425/css/apple-fonts.css" />
    <link type="text/css" rel="stylesheet" href="{#TM#}20240425/css/product.css" />
    <link type="text/css" rel="stylesheet" href="{#TM#}20240425/css/nav.css" />

	<!--[if lt IE 9]>

	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>

	  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

	<![endif]-->

	<script src="{#TM#}js/jquery.min.js"></script>

    <script src="{#TM#}js/owl.carousel.js"></script>

	<script src="{#TM#}js/HeaderAndFoot.js"></script>

	<script src="{#TM#}js/Home.js?1"></script>

	<script src="{#TM#}js/popupwindow.js?11"></script>

    <!-- wayhunt -->

	<script type=text/javascript src="{#RP#}base/js/form.js"></script>

	<script type=text/javascript src="{#RP#}base/js/custom.js"></script>

	<script type=text/javascript src="{#RP#}shop/js/cart.js"></script>

	<script type=text/javascript src="{#TM#}20240425/js/header.js"></script>
<!-reload-!>

</head>



<body>
	<section id="header" class="rema-col l12">
		<!--跑馬燈部分-->
		<div class="marquee">
			<div class="mx-width">
				<!-- 跑馬燈 -->
				<div class="owl-carousel owl-theme marquee-con mx-width">
					{#MARQUEE#}
				</div>
				<!-- END跑馬燈 -->
			</div>
		</div>
		<!-- END跑馬燈部分-->
		<!--頁首選單-->
		{#CHANNELMENU#}
	</section>
	<section id="content">
		<!--首頁上方全幅頁面-->
		<section id="hero-banner"><!-- 這個section 使用者自可以上傳圖片、文字-->

			{#首頁全幅廣告_111#}

		</section>
		<!--END首頁上方全幅頁面-->
		<!--全幅輪播頁-->
		<section id="hero-carousel">
			<!-- 這個section 使用者自可以上傳圖片、文字-->
			<div class="hero-carousel-con">

				{#LB#}

			</div>
		</section>
		<!--END全幅輪播頁-->
		<!-- 主題介紹 -->
		<section id="topic">

			<div class="card">
				<div class="card-img ratios-img"><img src="advs/pics/20210619/topic1.jpg" alt=""></div>
				<div class="card-word">
					<div class="title font-xxl font-m-l font-w-m">永續發展的理念</div>
					<div class="word font-s font-w-s">減少產品設計週期，提升耐久性，減少對環境的影響，是我們的責任。Rema有將近80%的產品來自回收再生纖維，既使成本需要提高，這是我們唯一的選擇。</div>
				</div>
			</div>

			<div class="card">
				<div class="card-img ratios-img"><img src="advs/pics/20210619/topic2.jpg" alt=""></div>
				<div class="card-word">
					<div class="title font-xxl font-m-l font-w-m">單車生活</div>
					<div class="word font-s font-w-s">減少產品設計週期，提升耐久性，減少對環境的影響，是我們的責任。Rema有將近80%的產品來自回收再生纖維，既使成本需要提高，這是我們唯一的選擇。</div>
				</div>
			</div>

			<div class="card">
				<div class="card-img ratios-img"><img src="advs/pics/20210513/1620868525233.jpg" alt=""></div>
				<div class="card-word">
					<div class="title font-xxl font-m-l font-w-m">夏季止汗推薦裝備</div>
					<div class="word font-s font-w-s">雙層配色，可翻轉兩面使用，能防止瀏海及汗珠的干擾，無須任何扣環或黏貼束帶，舒適一體成型。</div>
				</div>
			</div>

			<div class="card">
				<div class="card-img ratios-img"><img src="advs/pics/20210513/1620869267140.jpg" alt=""></div>
				<div class="card-word">
					<div class="title font-xxl font-m-l font-w-m">夏天，我準備好了</div>
					<div class="word font-s font-w-s">採用最頂尖的專利技術，率先在台灣市場上推出抗彈性斷裂的競賽壓縮泳裝款式，能有效抵抗泳池中的氯成分，能夠持久合身、保型。</div>
				</div>
			</div>

		</section>
		<!-- END主題介紹 -->
		<!--全系列商品-->
		<section id="introduce">
			<div class="introduce-carousel-con">
				<div class="introduce-title font-xxl font-w-m">瀏覽全系列商品</div>
				<div class="owl-carousel introduce owl-theme">
					
					{#SHOPCATS#}

				</div>
			</div>
		</section>
		<!--END全系列商品-->
		<!--頁尾-->
		<footer>
			<div class="max-width">
			<ul class="d-flex flex-wrap">
				{#footer#}
				
			</ul>
			</div>
			<div class="copyright d-flex justify-content-center">
			© 2024 REMA INC.ALL RIGHTS RESERVED
			</div>
		</footer>
	</section>
	<section id="popupwindow-in">
	</section>
	<div id="SelectCountry" style="display:none;">
		{#LANTYPE#}	
	</div>
	{#addbtscript#}
</body>

</html>