    <section id="MemberComplete">
        <div class="background-black" style="display: none;">
            <div class="window-con">
                <div class="window-block">
                    <div class="window-center-word window-word-break font-w-l">修改完成</div>
                    <div>
                        <div class="window-center-word font-xs">
                            Success! 資料已修改
                        </div> 
                        <div class="popupu-bn-con poputwindow-bn">
                            <a class="login-bn new-connection-bn" href="javascript:location.reload();">關閉 Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>