<!DOCTYPE html>
<html lang="zh-hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remalife</title>
    <link rel="Shortcut Icon" type="imgae/x-icon" href="./assets/images/16x16.ico">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/reponsive.css">
</head>
<body>
    <header class="tote_banner">
        <div class="banner_title">
            <h1><span>REMA</span><span>TOTE</span></h1>
        </div>
        <div class="banner_pc"><img src="./assets/images/tote_p01.jpg" width="100%"></div>
        <div class="banner_mb"><img src="./assets/images/tote_p01_m.jpg" width="100%"></div>
    </header>
    <div class="tote_wrapper">
        <div class="tote_con_01 tote_group">
            <div class="intro_top">
                <h1><span>減塑生活：</span><span>一只改變習慣的手提袋</span></h1>
                <p>環境保護理念是近代不斷被探討的議題，為了達到減少一次性塑膠物品的使用，我們不斷大量製造替代產品，如環保餐具、環保杯、購物袋、杯袋等，反而造成更多的資源浪費。當我們正以為透過「 減塑 」協助解決氣候變遷、海洋垃圾等兩大全球環境災難時，卻意外製造更多的危害。</p>
            </div>
            <article class="article_box">
                <div class="img_01_pc"><img src="./assets/images/tote_p02.jpg" width="100%"></div>
                <div class="img_01_mb"><img src="./assets/images/tote_p02_m.jpg" width="100%"></div>
            </article>
            <div class="intro_bottom"><p>我們停下腳步試想，「 真的有製作環保袋的必要嗎？」經過不斷的會議討論和縝密周全的思考，答案是肯定的。但 Rema 不想要只做出一個「 有時效性 」的環保袋，使用幾次之後就被存放在衣櫃深處，成為一只乏人問津的廢棄物，下場與一次性塑膠產品相同。我們更希望打造出的產品是能夠改變人類行為的媒介，如同堅守著經由著重巧思的機能服飾改寫您的運動習慣和生活日常的宗旨。</p></div>
        </div>
        <div class="tote_con_02 tote_group">
            <article class="article_box">
                <div class="img_02_pc"><img src="./assets/images/tote_p03.jpg" width="100%"></div>
                <div class="img_02_mb"><img src="./assets/images/tote_p03_m.jpg" width="100%"></div>
            </article>
            <div class="intro_bottom"><p>因此，我們經過長時間的研發設計和調整，參考市面上所有環保手提袋的材質、大小、耐用度，進而發展出三款多功能環保手提袋，採用紮實堅固的帆布與尼龍，結合寬敞方正的簡約外型，希望不只能有效減少一次性購物袋的使用，更希望打造一款經典且耐用的手提袋，陪伴所有消費者度過日常，改變既有的消費習慣，而真正達到永續環保精神。</p></div>
        </div>
        <div class="tote_con_03 tote_swiper_item tote_group">
                <div class="swiper">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="./assets/images/tote_p04.jpg" width="100%"></div>
                            <div class="swiper-slide"><img src="./assets/images/tote_p04-2.jpg" width="100%"></div>
                            <div class="swiper-slide"><img src="./assets/images/tote_p04-3.jpg" width="100%"></div>
                            <div class="swiper-slide"><img src="./assets/images/tote_p04-4.jpg" width="100%"></div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            <div class="swiper_title">
                <h1 class="title"><span>環保彩繪</span><span>托特包</span></h1>
                <div class="txt_intro">
                    <p>Rema 特邀知名藝術家 Croter Illustration & Design Studio 所繪製的專屬亮眼彩繪，以品牌標誌結合機械貓咪圖案作為主要圖樣，構築出趣味可愛的樣貌。</p>
                </div>
            </div>
        </div>
        <div class="tote_con_04 tote_swiper_item tote_group">
            <div class="swiper">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="./assets/images/tote_p05.jpg" width="100%"></div>
                        <div class="swiper-slide"><img src="./assets/images/tote_p05-2.jpg" width="100%"></div>
                        <div class="swiper-slide"><img src="./assets/images/tote_p05-3.jpg" width="100%"></div>
                        <div class="swiper-slide"><img src="./assets/images/tote_p05-4.jpg" width="100%"></div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            <div class="swiper_title">
                <h1 class="title"><span>環保字母</span><span>托特包</span></h1>
                <div class="txt_intro">
                    <p>汲取 Rema 品牌字母和創立年份為靈感，以簡潔俐落的輪廓體現品牌所追求的精煉精神，結合上經典勵志語錄，激發您每日的正能量，為日常生活打氣。</p>
                </div>
            </div>
        </div>
        <div class="tote_con_05 tote_swiper_item tote_group">
            <div class="swiper">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="./assets/images/tote_p06.jpg" width="100%"></div>
                        <div class="swiper-slide"><img src="./assets/images/tote_p06-2.jpg" width="100%"></div>
                        <div class="swiper-slide"><img src="./assets/images/tote_p06-3.jpg" width="100%"></div>
                        <div class="swiper-slide"><img src="./assets/images/tote_p06-4.jpg" width="100%"></div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            <div class="swiper_title">
                <h1 class="title"><span>環保簡約</span><span>托特包</span></h1>
                <div class="txt_intro">
                    <p>極簡藝術的極致之美在於恰到好處的描繪經典，以品牌標示“ R ”字樣為主要視覺，不只象徵的 Rema 精神，堅守 Recycle ( 回收 )、 Reduce ( 減量 )、 Reuse ( 再造 )、 Repurpose ( 重生 ) 的精神，更代表的是 Reform ( 改革 )、 Redefine ( 重新定義 )，期望能為未來的運動和生活帶來革新與轉變。</p>
                </div>
            </div>
        </div>
        <div class="tote_con_06 tote_group">
            <article class="article_box">
                <div class="img_06_pc"><img src="./assets/images/tote_p07.jpg" width="100%"></div>
                <div class="img_06_mb"><img src="./assets/images/tote_p07_m.jpg" width="100%"></div>
            </article>
        </div>
        <div class="tote_con_07 tote_group">
            <div class="txt_intro"><p><span>我們之所以製作環保托特包不只是想要逐步走向微量塑料的道路前進，更是希望打造一只耐用且能陪伴您</span><span>生活的隨身物品，藉由每一個人行為的改變，累積成為巨大能量，為自然環境維護產生更實質的效果。</span></p></div>
            <div class="txt_intro_mb"><p>我們之所以製作環保托特包不只是想要逐步走向微量塑料的道路前進，更是希望打造一只耐用且能陪伴您生活的隨身物品，藉由每一個人行為的改變，累積成為巨大能量，為自然環境維護產生更實質的效果。</p></div>
            <div class="blockquote">
                <blockquote>
                    <i class="fas fa-quote-left quote"></i>
                    <div>
                        <p class="txt"><span>Revolution only needs good dreamers </span><span>who remember their dreams.</span></p>
                    </div>
                    <i class="fas fa-quote-right quote"></i>
                </blockquote>
                <p class="txt">- Tennessee Williams</p>
            </div>
            <div class="blockquote_mb">
                <blockquote>
                    <i class="fas fa-quote-left quote"></i>
                    <div>
                        <p class="txt"><span>Revolution only needs</span><span>good dreamers who</span><span>remember their dreams.</span></p>
                    </div>
                    <i class="fas fa-quote-right quote"></i>
                </blockquote>
                <p class="txt">- Tennessee Williams</p>
            </div>
        </div>
        <hr>
        <div class="tote_item">
            <div class="title">
                <h2>LOVE THE PLANET COLLECTION</h2>
            </div>
            <div class="tote_list-intro">
                <div class="intro">
                    <div class="list_img"><img src="./assets/images/uaw004.jpg" width="100%"></div>
                    <div class="color_cricle_gy"></div>
                    <hr>
                    <div class="subtitle subtitle_top"><span>環保彩繪托特包</span><span>UAW004</span></div>
                    <div class="subtitle"><span>NT$580</span></div>
                </div>
                <div class="intro">
                    <div class="list_img"><img src="./assets/images/uaw007.jpg" width="100%"></div>
                    <div class="color_cricle_gy"></div>
                    <hr>
                    <div class="subtitle subtitle_top"><span>環保字母托特包</span><span>UAW007</span></div>
                    <div class="subtitle"><span>NT$480</span></div>
                </div>
                <div class="intro">
                    <div class="list_img"><img src="./assets/images/uaw008.jpg" width="100%"></div>
                    <div class="color_cricle_gy"></div>
                    <hr>
                    <div class="subtitle subtitle_top"><span>環保簡約托特包</span><span>UAW008</span></div>
                    <div class="subtitle"><span>NT480</span></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 2.2,
        loop:true,
        autoplay:true,
        speed:1000,
        spaceBetween: 6,
        centeredSlides: false,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
             // Default parameters
            slidesPerView: 1,
            spaceBetween: 10,
            // Responsive breakpoints
            320: {
            slidesPerView: 1.2,
            spaceBetween: 4
            },
            // when window width is >= 320px
            325: {
            slidesPerView: 1.2,
            spaceBetween: 4
            },
            // when window width is >= 480px
            468: {
            slidesPerView: 1.2,
            spaceBetween: 5
            },
            // when window width is >= 640px
            767: {
            slidesPerView: 2.2,
            spaceBetween: 5
             
            },
            768: {
            slidesPerView: 2.2,
            spaceBetween: 5
            },
            2560: {
            slidesPerView: 2.2,
            spaceBetween: 5
            }
        }
        // ,
        // slidesPerView: 1,
        // spaceBetween: 10,
        // // using "ratio" endpoints
        // breakpoints: {
        //     '@0.75': {
        //     slidesPerView: 2.2,
        //     spaceBetween: 5,
        //     },
        //     '@1.00': {
        //     slidesPerView: 2.2,
        //     spaceBetween: 5,
        //     },
        //     '@1.50': {
        //     slidesPerView: 2.2,
        //     spaceBetween: 5,
        //     },
        //     '@2.00': {
        //     slidesPerView: 2.2,
        //     spaceBetween: 5,
        //     }
        // }

      });
    </script>

</body>
</html>