<!-start->
                    <h3 class="cart-title m-b-20">{#catname#}</h3>
                    <ul class="blog-card row">
<!-start->
<!-list->
                    <!-- list -->
                        <li class="col-xs-6">
                        <div class="hold">
                            <img src="{#src#}" class="img-responsive" alt="">
                            <h3 {#bold#} {#red#}>{#title#}</h3>
                            <p>{#memo#}</p>
                            <a href="{#link#}" target="{#target#}">〈Read More〉</a>
                            </div>
                        </li>
                    <!-- END list -->
<!-list->
<!-end->
</ul>


<!-end->