@import "variable";
@import "mixin";
a {
  text-decoration: none!important;
  color: #000;
}
.max-width {
  max-width: $largest-desktop;
  margin: auto;
}
.layout-pd {
  padding: 0 150px;
  @include rwd($inferior-desktop) {
    padding: 0 50px;
  }
  @include rwd($mobile) {
    padding: 0 20px;
  }
}
p {
  margin-bottom: 0;
}
.header-top {
  padding-top: 150px;
  @include rwd($mobile) {
    padding-top: 220px;
  }
}
header {
  position: fixed;
  width: 100vw;
  z-index: 1;
  // background-color: #fff;
  
  .search-fixed {
    width: 0;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    @include rwd($inferior-desktop) {
      display: none;
    }
    &.active {
      z-index: 11;
      opacity: 1;
      pointer-events: auto;
      width: 100vw;
      .search-link {
        transition-delay: 0.3s;
        opacity: 1;
        height: 225px;
        width: calc(60% - 184px);
        margin: auto;
        margin-top: 50px;
      }
    }
    .search-box {
      background-color: #fff;
      width: 100%;
      padding: 30px 50px;
      overflow: hidden;
      height: 385px;
      img {
        width: 200px;
      }
    }

    .search-input-block {
      margin: 0 40px;
      // flex: 1;
      width: 60%;
      background-color: #F5F5F5;
      border-radius: 30px;
      
      input {
        width: 100%;
        border: none;
        background-color: transparent;
        padding: 10px;
        &:focus {
          outline: none;
        }
      }
      .search-btn {
        background-color: #F5F5F5;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        &:hover {
          background-color: #CACACB;
        }
        i {
          position: absolute;
        }
      }
    }
    
    .search-link {
      margin-left: 250px;
      margin-top: 40px;
      opacity: 0;
      transition: height 0.8s ease, opacity 2s ease;
      height: 0;
      overflow: hidden;
      label {
        margin-bottom: 20px;
        color: #707072;
        font-size: 14px;
      }
      ul {
        list-style-type: none;
        padding: 0;
      }
      li {
        margin: 0 0 20px 0;
        font-size: 20px;
      }
    }
  }
  .member-bar-btn {
    position: relative;
    z-index: 10;
    cursor: pointer;
    @include rwd($inferior-desktop) {
      z-index: 0;
    }
    &.color-black {
      svg,
      i,
      #cartnum {
        color: #000!important;
      }
      
    }
    &.shopping-cart {
      @include rwd($inferior-desktop) {
        z-index: 1;
      }
    }
  }
  
  .marquee {
    padding: 10px 0;
    background-color: $block;
    color: $white;
  }
  
  .nav-box {
    position: relative;
    
    margin: auto;
    
    .header-nav-box {
      width: 100%;
      padding: 30px 50px;
      @include rwd($mobile) {
        padding: 20px 25px 0px 20px;
      }
    }
    .nav-items-box {
      flex: 1;
      @include rwd($inferior-desktop) {
        padding-right: 50px;
      }
    }
    img {
      width: 250px;
      margin-right: 10px;
      @include rwd($mobile-small) {
        width: 220px;
      }
      //   background-color: $white;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
    }
    li {
      margin:0 15px;
      font-size: 18px;
      cursor: pointer;
      &.member {
        display: none;
        @include rwd($inferior-desktop) {
          display: block;
        }
      }
    }
    .nav-items {
      @include rwd($inferior-desktop) {
        display: none !important;
      }
    }
  }
  .member-bar-btn {
    cursor: pointer;
    padding: 0 5px;
    position: relative;
    // fill: red;
    
    &.btn-menu {
      display: none;
      @include rwd($inferior-desktop) {
        display: block;
      }
    }
    
    // @include rwd($mobile) {
    //   margin-bottom: 15px;
    //   padding: 0;
    // }
    .bi {
      font-size: 30px;
      @include rwd($mobile-small) {
        font-size: 32px;
      }
    }
    img {
      width: 30px;
      &.cart-img {
        width: auto;
      }
    }
    p {
      position: absolute;
      // top: 38%;
      padding-top: 5px;
      font-size: 16px;
    }
    &.search {
      display: block;
      @include rwd($inferior-desktop) {
        display: none;
      }
    }
    &.menu-btn {
      @include rwd($inferior-desktop) {
        display: block;
      }
      display: none;
      img {
        width: 40px;
      }
    }
  }
  
  .pc-menu {
    background-color: #fff;
    @include rwd($inferior-desktop) {
      position: fixed;
    }
    &.un-open {
      height: 0 !important;
    }
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    max-height: 100vh;
    transition: height 0.5s ease;
    z-index: 1;
    // height: 0;
    @include rwd($tablet) {
      display: none;
    }

    .box {
      background-color: #fff;
      width: 100%;
      padding: 30px 50px;
      max-height: 100vh;
      overflow: auto;
      @include rwd($inferior-desktop) {
        padding-top: 75px;
        position: relative;
      }
    }
    .pc-menu-nav {
      margin-bottom: 30px;
    }
    .pc-menu-items {
      flex: 1;
      li {
        @include rwd($inferior-desktop) {
          margin: 0 15px;
        }
        
        &.active {
          border-bottom: 1px solid #000;
        }
      }
    }
    .close-btn {
      font-size: 40px;
      padding: 0 10px;

      margin-top: -10px;
      // padding-left: 50px;
      cursor: pointer;
      @include rwd($inferior-desktop) {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 30px;
      }
    }
    .type-tag {
      width: fit-content;
      margin-left: 275px;
      display: none;
      @include rwd(1350px) {
        margin: auto;
      }
      &.active {
        display: block;
      }
    }
    #tag-3 {
      .type-list {
        li {
          &.title {
            a {
              cursor: default;
            }
            a:hover {
              color: #000;
            }

          }
        }
      }
    }
    .type-list {
      margin: 0 -25px;
      .type-item {
        padding: 25px;
        margin: 0;
        width: 20%;
       
      }

      li {
        margin-bottom: 15px;
        margin-left: 0;
        font-size: 14px;
        a {
          text-decoration: none;
          color: #000;
        }
        a:hover {
          color: #01c3ff;
        }
        &.active {
          a {
            color: #01c3ff;
          }
        }
      }
      .title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 20px;
      }
    }
    .input-group {
      max-width: 800px;
      padding: 20px;
      margin: auto;
      display: none;
      @include rwd($inferior-desktop) {
        display: flex;
      }
    }
  }

  .mobile-menu {
    position: fixed;
    // right: 0;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 11;
    // height: calc(100vh - 40px);
    background-color: #fff;
    transition: all 0.5s ease;
    display: none;
    @include rwd($tablet) {
      display: block;
    }
    &.un-open {
      left: 100%;
    }
    .box {
      width: 100vw;
      height: 100%;
      padding: 30px 50px;
      overflow: auto;
      @include rwd($mobile) {
        padding: 20px 30px;
      }
    }
    .mobile-menu-head {
      margin-bottom: 50px;
      position: relative;
    }
    img {
      max-width: 200px;
    }
    .close-btn {
      font-size: 32px;
      position: absolute;
      top: -5px;
      right: -10px;
    }
    .mobile-menu-type-back,
    .mobile-menu-category-back {
      font-size: 22px;
    }
    .mobile-menu-items {
      li {
        margin-left: 0;
        margin-right: 0;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #878787;
        &::after {
          content: "\f285";
          font-family: bootstrap-icons !important;
        }
        &:last-of-type {
          border-bottom: none;
        }
        a {
          width: 100%;
        }
        &.member {
          &::after {
            content: "";
          }
        }
      }
    }
    .mobile-menu-type {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      top: 0;
      height: 100%;
      background-color: #fff;
      transition: all 0.5s ease;
      z-index: 1;
      &.un-open {
        left: 100%;
      }
      .title {
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid #878787;
      }
      .mobile-menu-type-items {
        li {
          margin-left: 0;
          margin-right: 0;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 10px;
          margin-bottom: 10px;
          // border-bottom: 1px solid #878787;
          &::after {
            content: "\f285";
            font-family: bootstrap-icons !important;
          }
        }
      }
      .mobile-menu-type-box {
        display: none;
        &.active {
          display: block;
        }
      }
    }
    .mobile-menu-category {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      top: 0;
      height: 100%;
      background-color: #fff;
      transition: all 0.5s ease;
      z-index: 2;
      &.un-open {
        left: 100%;
      }
      .title {
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid #878787;
      }
      .mobile-menu-category-items {
        li {
          margin-left: 0;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 10px;
          margin-bottom: 10px;
        }
      }
      .mobile-menu-category-box {
        display: none;
        &.active {
          display: block;
        }
      }
    }
  }
}
