/* ==============================
 *
 *	topaudio variables, font-face
 *
 * ============================== */
/*== Color ==*/
/*== Screen Size ==*/
a {
  text-decoration: none !important;
  color: #000;
}

.max-width {
  max-width: 1920px;
  margin: auto;
}

.layout-pd {
  padding: 0 150px;
}
@media only screen and (max-width: 1200px) {
  .layout-pd {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 768px) {
  .layout-pd {
    padding: 0 20px;
  }
}

p {
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .header-top {
    padding-top: 220px;
  }
}

header {
  position: fixed;
  width: 100vw;
  z-index: 1;
}
header .search-fixed {
  width: 0;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 1200px) {
  header .search-fixed {
    display: none;
  }
}
header .search-fixed.active {
  z-index: 11;
  opacity: 1;
  pointer-events: auto;
  width: 100vw;
}
header .search-fixed.active .search-link {
  transition-delay: 0.3s;
  opacity: 1;
  height: 225px;
  width: calc(60% - 184px);
  margin: auto;
  margin-top: 50px;
}
header .search-fixed .search-box {
  background-color: #fff;
  width: 100%;
  padding: 30px 50px;
  overflow: hidden;
  height: 385px;
}
header .search-fixed .search-box img {
  width: 200px;
}
header .search-fixed .search-input-block {
  margin: 0 40px;
  width: 60%;
  background-color: #F5F5F5;
  border-radius: 30px;
}
header .search-fixed .search-input-block input {
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 10px;
}
header .search-fixed .search-input-block input:focus {
  outline: none;
}
header .search-fixed .search-input-block .search-btn {
  background-color: #F5F5F5;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
header .search-fixed .search-input-block .search-btn:hover {
  background-color: #CACACB;
}
header .search-fixed .search-input-block .search-btn i {
  position: absolute;
}
header .search-fixed .search-link {
  margin-left: 250px;
  margin-top: 40px;
  opacity: 0;
  transition: height 0.8s ease, opacity 2s ease;
  height: 0;
  overflow: hidden;
}
header .search-fixed .search-link label {
  margin-bottom: 20px;
  color: #707072;
  font-size: 14px;
}
header .search-fixed .search-link ul {
  list-style-type: none;
  padding: 0;
}
header .search-fixed .search-link li {
  margin: 0 0 20px 0;
  font-size: 20px;
}
header .member-bar-btn {
  position: relative;
  z-index: 10;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  header .member-bar-btn {
    z-index: 0;
  }
}
header .member-bar-btn.color-black svg,
header .member-bar-btn.color-black i,
header .member-bar-btn.color-black #cartnum {
  color: #000 !important;
}
@media only screen and (max-width: 1200px) {
  header .member-bar-btn.shopping-cart {
    z-index: 1;
  }
}
header .marquee {
  padding: 10px 0;
  background-color: #000;
  color: #fff;
}
header .nav-box {
  position: relative;
  margin: auto;
}
header .nav-box .header-nav-box {
  width: 100%;
  padding: 30px 30px 30px 50px;
}
/* @media only screen and (max-width: 768px) {
  header .nav-box .header-nav-box {
    padding: 20px 20px 0px 20px !important;
  }
} */
header .nav-box .nav-items-box {
  flex: 1;
}
/* @media only screen and (max-width: 1200px) {
  header .nav-box .nav-items-box {
    padding-right: 50px;
  }
} */

@media only screen and (max-width: 576px) {
  header .nav-box img {
    width: 220px;
  }
}
header .nav-box ul {
  list-style-type: none;
  padding-left: 0;
}
header .nav-box li {
  margin: 0 15px;
  font-size: 18px;
  cursor: pointer;
}
header .nav-box li.member {
  display: none;
}
@media only screen and (max-width: 1200px) {
  header .nav-box li.member {
    display: block;
  }
}
@media only screen and (max-width: 1200px) {
  header .nav-box .nav-items {
    display: none !important;
  }
}
header .member-bar-btn {
  cursor: pointer;
  padding: 0 5px;
  position: relative;
}
header .member-bar-btn.btn-menu {
  display: none;
}
@media only screen and (max-width: 1200px) {
  header .member-bar-btn.btn-menu {
    display: block;
  }
}
header .member-bar-btn .bi {
  font-size: 30px;
}
@media only screen and (max-width: 576px) {
  header .member-bar-btn .bi {
    font-size: 32px;
  }
}
header .member-bar-btn img {
  width: 30px;
}
header .member-bar-btn img.cart-img {
  width: auto;
}
header .member-bar-btn p {
  position: absolute;
  padding-top: 5px;
  font-size: 16px;
}
header .member-bar-btn.search {
  display: block;
}
@media only screen and (max-width: 1200px) {
  header .member-bar-btn.search {
    display: none;
  }
}
header .member-bar-btn.menu-btn {
  display: none;
}
@media only screen and (max-width: 1200px) {
  header .member-bar-btn.menu-btn {
    display: block;
  }
}
header .member-bar-btn.menu-btn img {
  width: 40px;
}
header .pc-menu {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  max-height: 100vh;
  transition: height 0.5s ease;
  z-index: 1;
}
@media only screen and (max-width: 1200px) {
  header .pc-menu {
    position: fixed;
  }
}
header .pc-menu.un-open {
  height: 0 !important;
}
@media only screen and (max-width: 991px) {
  header .pc-menu {
    display: none;
  }
}
header .pc-menu .box {
  background-color: #fff;
  width: 100%;
  padding: 30px 50px;
  max-height: 100vh;
  overflow: auto;
}
@media only screen and (max-width: 1200px) {
  header .pc-menu .box {
    padding-top: 75px;
    position: relative;
  }
}
header .pc-menu .pc-menu-nav {
  margin-bottom: 30px;
}
header .pc-menu .pc-menu-items {
  flex: 1;
}
@media only screen and (max-width: 1200px) {
  header .pc-menu .pc-menu-items li {
    margin: 0 15px;
  }
}
header .pc-menu .pc-menu-items li.active {
  border-bottom: 1px solid #000;
}
header .pc-menu .close-btn {
  font-size: 40px;
  padding: 0 10px;
  margin-top: -10px;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  header .pc-menu .close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
  }
}

header .pc-menu .type-tag.active {
  display: block;
}
header .pc-menu #tag-3 .type-list li.title a {
  cursor: default;
}
header .pc-menu #tag-3 .type-list li.title a:hover {
  color: #000;
}
header .pc-menu .type-list {
  margin: 0 -25px;
}
header .pc-menu .type-list .type-item {
  padding: 25px 10px;
  margin: 0;
  width: 13.5%;
}
header .pc-menu .type-list li {
  margin-bottom: 13px;
  margin-left: 0;
  font-size: 14px;
  font-weight: 400;
}
header .pc-menu .type-list li a {
  text-decoration: none;
  color: #000;
}
header .pc-menu .type-list li a:hover {
  color: #01c3ff;
}
header .pc-menu .type-list li.active a {
  color: #01c3ff;
}
header .pc-menu .type-list .title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
header .pc-menu .input-group {
  max-width: 800px;
  padding: 20px;
  margin: auto;
  display: none;
}
@media only screen and (max-width: 1200px) {
  header .pc-menu .input-group {
    display: flex;
  }
}
header .mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 11;
  background-color: #fff;
  transition: all 0.5s ease;
  display: none;
}
@media only screen and (max-width: 991px) {
  header .mobile-menu {
    display: block;
  }
}
header .mobile-menu.un-open {
  left: 100%;
}
header .mobile-menu .box {
  width: 100vw;
  height: 100%;
  padding: 30px 50px;
  overflow: auto;
}
@media only screen and (max-width: 768px) {
  header .mobile-menu .box {
    padding: 20px 30px;
  }
}
header .mobile-menu .mobile-menu-head {
  margin-bottom: 50px;
  position: relative;
}
header .mobile-menu img {
  max-width: 200px;
}
header .mobile-menu .close-btn {
  font-size: 32px;
  position: absolute;
  top: -5px;
  right: -10px;
}
header .mobile-menu .mobile-menu-type-back,
header .mobile-menu .mobile-menu-category-back {
  font-size: 22px;
}
header .mobile-menu .mobile-menu-items li {
  margin-left: 0;
  margin-right: 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #878787;
}
header .mobile-menu .mobile-menu-items li::after {
  content: "\f285";
  font-family: bootstrap-icons !important;
}
header .mobile-menu .mobile-menu-items li:last-of-type {
  border-bottom: none;
}
header .mobile-menu .mobile-menu-items li a {
  width: 100%;
}
header .mobile-menu .mobile-menu-items li.member::after {
  content: "";
}
header .mobile-menu .mobile-menu-type {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #fff;
  transition: all 0.5s ease;
  z-index: 1;
}
header .mobile-menu .mobile-menu-type.un-open {
  left: 100%;
}
header .mobile-menu .mobile-menu-type .title {
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #878787;
}
header .mobile-menu .mobile-menu-type .mobile-menu-type-items li {
  margin-left: 0;
  margin-right: 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
header .mobile-menu .mobile-menu-type .mobile-menu-type-items li::after {
  content: "\f285";
  font-family: bootstrap-icons !important;
}
header .mobile-menu .mobile-menu-type .mobile-menu-type-box {
  display: none;
}
header .mobile-menu .mobile-menu-type .mobile-menu-type-box.active {
  display: block;
}
header .mobile-menu .mobile-menu-category {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #fff;
  transition: all 0.5s ease;
  z-index: 2;
}
header .mobile-menu .mobile-menu-category.un-open {
  left: 100%;
}
header .mobile-menu .mobile-menu-category .title {
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #878787;
}
header .mobile-menu .mobile-menu-category .mobile-menu-category-items li {
  margin-left: 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
header .mobile-menu .mobile-menu-category .mobile-menu-category-box {
  display: none;
}
header .mobile-menu .mobile-menu-category .mobile-menu-category-box.active {
  display: block;
}/*# sourceMappingURL=header.css.map */


html,
		body {
			position: relative;
			height: fit-content;
		}
		
		body {
			font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
			font-size: 14px;
			color: #000;
			margin: 0;
			padding: 0;
		}
		
		.swiper {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			z-index: 0;
		}
		
		.swiper-slide {
			font-size: 18px;
			background: url("./images/REMA_KV_B_231207.jpg");
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		.swiper-slide img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.m_memu_wp {
			z-index: 1;
		}
		.text-box {
			padding-top: 110px;
			color: #fff;
			font-family: "SF Pro Text", "Noto Sans TC", "蘋方體", "雅黑體";
			text-align: center;
			
		}
		.text-box label {
			font-size: 64px;
		}
		.text-box p {
			font-size: 1.5vw;
		}
		.text-box.position-1 {
			position: absolute;
			width: 100%;
			bottom: 6%;
			left: 4%;
			text-align: left;
			padding: 0 25px;
			
		}
		header .member-bar svg,
		header .member-bar i,
		header .member-bar #cartnum {
			transition: color 0.8s ease-in-out;
			color: #fff;
		}
		header .nav-items-box {
			transition: filter 0.8s ease-in-out;
			filter: brightness(0) invert(1);
		}
		header.active .nav-items-box {
			filter: brightness(1) invert(0);
		}
		header.active .member-bar svg,
		header.active .member-bar i,
		header.active .member-bar #cartnum {
			color: #000;
		}
		header.black-color .member-bar svg,
		header.black-color .member-bar i,
		header.black-color .member-bar p,
		header.active .member-bar #cartnum {
			color: #000!important;
		}
		header.black-color .nav-items-box {
			filter: brightness(1) invert(0)!important;
		}
		.close-btn i {
			color: #000!important;
		}

		.swiper-wrapper {
			height: 100vh;
			width: auto;
		}

		.swiper {
			height: 100vh;
		}

		.wrap {
			padding: 5vw 0;
		}

		.service_wrap {
			padding-top: 100vh;
		}

		footer {
			padding-top: 5vw;
		}

		.member-bar {
			float: right;
			padding-right: 0px;
			margin-top: -15px;
			margin-right: -5px;
		}

		header .nav-box img {
      width: 350px !important;
      margin-right: 45px;
  	}

		.index_series {
			bottom: 7%;
			right: 6%;
			font-size: 1.2rem;
		}

		header .nav-box .header-nav-box {
    padding: 30px 50px !important;
  }

	header .pc-menu .type-tag {
		width: -moz-fit-content;
		width: auto;
		margin-left: 23.5vw !important;
		display: none;
	}


	/* ipad */
		@media screen and (max-width: 1668px){
		.swiper {
			height: auto;
		}

		.text-box label {
			font-size: 80px;
			font-weight: 500;
			line-height: 1.2;
		}

		.text-box p {
			font-size: 2.75vw;
		}

		.text-box {
			padding-top: 80px;
		}

		.index_series {
			bottom: 6%;
			right: 6%;
			font-size: 1.3rem;
		}

		.member-bar {
			float: right;
			padding-right: 5px;
			margin-top: -15px;
		}

		header .nav-box img {
			width: 340px !important;
		}

		#index {
			height: auto;
		}

		.wrap {
			padding: 6rem 0 100px 0;
		}

		.arrow_l > img, .arrow_r > img {
			width: 19px;
		}

		.arrow_l, .arrow_r {
			top: 53.5%;
		}

		.text-box.position-1 {
			padding: 0 40px;
			bottom: 11%;
		}

		header .nav-box li {
			font-size: 21px;
		}

		header .pc-menu .type-list {
			justify-content: center;
			margin: 0 -227px;
		}

		header .pc-menu .type-list .title > a {
			font-size: 20px;
		}

		header .pc-menu .type-list li a {
			font-size: 16px;
		}

		header .pc-menu .input-group {
			max-width: 400px;
			padding: 10px 20px;
		}

		.input-group > .form-control {
			padding: 7px 10px;
			font-size: 16px;
		}

		header .pc-menu .box {
			overflow-x: hidden;
			padding: 30px 50px 70px 50px;
		}

		header .pc-menu .type-list .type-item {
			padding: 30px 10px;
		}

		.service_wrap {
    	padding-top: 100vh;
		}

		footer {
			padding-top: 10vw;
	}

		header .pc-menu .type-tag {
		width: -moz-fit-content;
		width: auto;
		margin-left: 19.5vw !important;
		display: none;
	}
}

/* macbook pro 13' */
@media screen and (max-width: 1590px) {
	header .nav-box img {
			width: 280px !important;
	}

	.service_wrap {
			padding-top: 100vh;
	}

	header .pc-menu .box {
		padding: 50px;
	}

	header .pc-menu .type-list {
			justify-content: start;
			margin: 0px -450px;
	}

	header .pc-menu .input-group {
			max-width: 400px;
			padding: 20px;
		}

	.text-box label {
		font-size: 60px;
	}

	.text-box p {
		font-size: 1.75vw;
	}

	.index_series {
		font-size: .9rem;
	}

}

	@media only screen and (max-width: 800px) {
		.service > .wrap > .article {
			width: 30vw;
	}
}

	/* iphone */
	@media only screen and (max-width: 430px) {
		.swiper {
			height: 100vh;
		}

		#index {
			height: auto;
		}

		header .nav-box img {
			width: 280px !important;
			margin-right: 0px !important;
		}

		.member-bar {
			padding-right: -12px;
			margin-top: -11px;
		}

		header .nav-box .nav-items-box {
				padding-right: 0px;
			}

		.text-box label {
			font-size: 50px;
			font-weight: 500;
			line-height: 1.2;
		}

		.text-box {
			padding-top: 60px;
		}

		.text-box p {
			font-size: 21px;
		}

		header .nav-box ul {
			padding-right: 10px;
			line-height: 2;
		}

		#search-produce > input {
			padding: 10px 10px;
			margin-bottom: 175px;
			font-size: 16px;
		}

		.text-box.position-1 {
				bottom: 6%;
				left: 4%;
			}

		.index_series { 
			bottom: 6%;
			right: 6%;
			font-size: .9rem;
			font-weight: 300;
		}

		.service {
			padding: 64px 0;
		}

		.edm > .wrap {
			padding: 40px 50px 45px 50px;
		}

		.service_wrap {
    	padding-top: 100vh;
		}

		header .nav-box .header-nav-box {
			padding: 30px 25px !important
		}

		footer {
			padding-top: 18vw;
		}
	}

		@media only screen and (max-width: 1440px) {
				.text-box.position-1 {
				width: 100%;
				bottom: 6%;
				left: 4%;
			}
		}
		@media only screen and (max-width: 1100px) {
			.text-box.position-1 {
				bottom: 6%;
				left: 4%;
			}
		}
		@media only screen and (max-width: 768px) {
				.text-box.position-1 {
				padding: 0 20px;
				bottom: 6%;
				left: 4%;
			}
		}

	/* iphone pro */
	@media only screen and (max-width: 390px) {
		header .nav-box img {
			width: 250px !important;
		}
	}
/* adjust */
/* header .nav-box img {
  width: 250px !important;
  margin-right: 45px;
} */

/* @media only screen and (max-width: 1200px) {
  header .nav-box img {
    width: 350px;
    margin-right: 45px;
  }
} */


/* @media only screen and (min-width: 431px) {
    body.safari header .nav-box img {
      width: 350px;
      margin-right: 45px;
  }
} */



/*
20240916
*/


		html,
		body {
			position: relative;
			height: fit-content;
		}
		
		body {
			font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
			font-size: 14px;
			color: #000;
			margin: 0;
			padding: 0;
		}
		
		.swiper {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			z-index: 0;
		}
		
		.swiper-slide {
			font-size: 18px;
			background: url("./images/REMA_KV_B_231207.jpg");
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		.swiper-slide img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.m_memu_wp {
			z-index: 1;
		}
		.text-box {
			padding-top: 110px;
			color: #fff;
			font-family: "SF Pro Text", "Noto Sans TC", "蘋方體", "雅黑體";
			text-align: center;
			
		}
		.text-box label {
			font-size: 64px;
		}
		.text-box p {
			font-size: 1.5vw;
		}
		.text-box.position-1 {
			position: absolute;
			width: 100%;
			bottom: 6%;
			left: 4%;
			text-align: left;
			padding: 0 25px;
			
		}
		header .member-bar svg,
		header .member-bar i,
		header .member-bar #cartnum {
			transition: color 0.8s ease-in-out;
			color: #fff;
		}

		header .nav-items-box {
			transition: filter 0.8s ease-in-out;
			filter: brightness(0) invert(1);
		}
		header.active .nav-items-box {
			filter: brightness(1) invert(0);
		}

		/* header .nav-items-box {
			filter: brightness(1) invert(0);
		} */

		header.active .member-bar svg,
		header.active .member-bar i,
		header.active .member-bar #cartnum {
			color: #000;
		}
		header.black-color .member-bar svg,
		header.black-color .member-bar i,
		header.black-color .member-bar p,
		header.active .member-bar #cartnum {
			color: #000!important;
		}
		header.black-color .nav-items-box {
			filter: brightness(1) invert(0)!important;
		}
		.close-btn i {
			color: #000!important;
		}

		.swiper-wrapper {
			height: 100vh;
			width: auto;
		}

		.swiper {
			height: 100vh;
		}

		.wrap {
			padding: 5vw 0;
		}

		.service_wrap {
			padding-top: 100vh;
		}

		footer {
			padding-top: 5vw;
		}

		.member-bar {
			float: right;
			padding-right: 0px;
			margin-top: -15px;
			margin-right: -5px;
			/* filter: brightness(0) invert(0); */
		}

		header .nav-box img {
      width: 350px !important;
      margin-right: 45px;
  	}

		.index_series {
			bottom: 7%;
			right: 6%;
			font-size: 1.2rem;
		}

		header .nav-box .header-nav-box {
    padding: 30px 50px !important;
  }

	header .pc-menu .type-tag {
		width: -moz-fit-content;
		width: auto;
		margin-left: 19.5vw !important;
		display: none;
	}

	@media screen and (max-width: 2560px){
		header .pc-menu .type-tag {
			margin-left: 16.5vw !important;
		}
	}

	@media screen and (max-width: 2240px){
		header .pc-menu .type-tag {
			margin-left: 19vw !important;
		}
	}

	/* ipad */
		@media screen and (max-width: 1668px){
		.swiper {
			height: auto;
		}

		.text-box label {
			font-size: 80px;
			font-weight: 500;
			line-height: 1.2;
		}

		.text-box p {
			font-size: 2.75vw;
		}

		.text-box {
			padding-top: 80px;
		}

		.index_series {
			bottom: 6%;
			right: 6%;
			font-size: 1.3rem;
		}

		.member-bar {
			float: right;
			padding-right: 5px;
			margin-top: -15px;
		}

		header .nav-box img {
			width: 340px !important;
		}

		#index {
			height: auto;
		}

		.wrap {
			padding: 6rem 0 100px 0;
		}

		.arrow_l > img, .arrow_r > img {
			width: 19px;
		}

		.arrow_l, .arrow_r {
			top: 53.5%;
		}

		.text-box.position-1 {
			padding: 0 40px;
			bottom: 11%;
		}

		header .nav-box li {
			font-size: 21px;
		}

		header .pc-menu .type-list {
			justify-content: center;
			margin: 0 -227px;
		}

		header .pc-menu .type-list .title > a {
			font-size: 20px;
		}

		header .pc-menu .type-list li a {
			font-size: 16px;
		}

		header .pc-menu .input-group {
			max-width: 400px;
			padding: 10px 20px;
		}

		.input-group > .form-control {
			padding: 7px 10px;
			font-size: 16px;
		}

		header .pc-menu .box {
			overflow-x: hidden;
			padding: 30px 50px 70px 50px;
		}

		header .pc-menu .type-list .type-item {
			padding: 30px 10px;
		}

		.service_wrap {
    	padding-top: 100vh;
		}

		footer {
			padding-top: 10vw;
	}

		header .pc-menu .type-tag {
		width: -moz-fit-content;
		width: auto;
		margin-left: 20.5vw !important;
		display: none;
	}
}

/* macbook pro 13' */
@media screen and (max-width: 1590px) {
	header .nav-box img {
			width: 280px !important;
	}

	.service_wrap {
			padding-top: 100vh;
	}

	header .pc-menu .box {
		padding: 50px;
	}

	header .pc-menu .type-list {
			justify-content: start;
			margin: 0px -450px 0px -180px;
			/* padding-left: 27vw; */
	}

	header .pc-menu .input-group {
			max-width: 400px;
			padding: 20px;
		}

	.text-box label {
		font-size: 60px;
	}

	.text-box p {
		font-size: 1.75vw;
	}

	.index_series {
		font-size: .9rem;
	}

}

	@media only screen and (max-width: 800px) {
		.service > .wrap > .article {
			width: 30vw;
	}
}

	/* iphone */
	@media only screen and (max-width: 430px) {
		.swiper {
			height: 100vh;
		}

		#index {
			height: auto;
		}

		header .nav-box img {
			width: 280px !important;
			margin-right: 0px !important;
		}

		.member-bar {
			padding-right: -12px;
			margin-top: -11px;
		}

		header .nav-box .nav-items-box {
				padding-right: 0px;
			}

		.text-box label {
			font-size: 50px;
			font-weight: 500;
			line-height: 1.2;
		}

		.text-box {
			padding-top: 60px;
		}

		.text-box p {
			font-size: 21px;
		}

		header .nav-box ul {
			padding-right: 10px;
			line-height: 2;
		}

		#search-produce > input {
			padding: 10px 10px;
			margin-bottom: 175px;
			font-size: 16px;
		}

		.text-box.position-1 {
				bottom: 6%;
				left: 4%;
			}

		.index_series { 
			bottom: 6%;
			right: 6%;
			font-size: .9rem;
			font-weight: 300;
		}

		.service {
			padding: 64px 0;
		}

		.edm > .wrap {
			padding: 40px 50px 45px 50px;
		}

		.service_wrap {
    	padding-top: 100vh;
		}

		header .nav-box .header-nav-box {
			padding: 30px 25px !important
		}

		footer {
			padding-top: 18vw;
		}
	}

		@media only screen and (max-width: 1440px) {
				.text-box.position-1 {
				width: 100%;
				bottom: 6%;
				left: 4%;
			}
		}
		@media only screen and (max-width: 1100px) {
			.text-box.position-1 {
				bottom: 6%;
				left: 4%;
			}
		}
		@media only screen and (max-width: 768px) {
				.text-box.position-1 {
				padding: 0 20px;
				bottom: 6%;
				left: 4%;
			}
		}

	/* iphone pro */
	@media only screen and (max-width: 390px) {
		header .nav-box img {
			width: 250px !important;
		}
	}

	/* #header_nav_switch, #header_icon_switch {
		filter: brightness(0) invert(0);
	} */

