/* ==============================
 *
 *	topaudio variables, font-face
 *
 * ============================== */

/*== Color ==*/
$block: #000;
$white: #fff;
$grey: #ccc;
/*== Screen Size ==*/
$largest-desktop: 1920px;
$max-width-desktop: 1560px;
$medium-desktop: 1440px;
$medium-xxl-desktop: 1401px;
$medium-xl-desktop: 1365px;
$inferior-desktop: 1200px;
$small-desktop: 1024px;
$tablet: 991px;
$mobile: 768px;
$mobile-small: 576px;
$mobile-small-medium: 360px;
$mobile-extrasmall: 320px;
